SLpct_linux/SLpct/Schemi/Schema20230523/Atti/sigp/base_v2/tipi-allegati.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://schemi.processotelematico.giustizia.it/sigp/tipi/allegati/v2"
           xmlns:bt="http://schemi.processotelematico.giustizia.it/sigp/tipi/v2"
           xmlns:pt="http://schemi.processotelematico.giustizia.it/sigp/tipi/atti/v2"
           targetNamespace="http://schemi.processotelematico.giustizia.it/sigp/tipi/allegati/v2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/sigp/tipi/v2"
	           schemaLocation="../base_v2/tipi-base.xsd"/>
	<xs:complexType name="IndiceBusta">
		<xs:annotation>
			<xs:documentation>Informazioni sui documenti che compongono la busta</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AttoPrincipale"
			            type="bt:RiferimentoAllegato">
				<xs:annotation>
					<xs:documentation>Riferimento all'atto principale nella busta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##targetNamespace"
			        minOccurs="0"
			        maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Riferimenti ad altri allegati presenti nella busta</xs:documentation>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SoggettoNotificato">
		<xs:annotation>
			<xs:documentation>Informazioni del soggetto notificato</xs:documentation>
		</xs:annotation>
		<xs:attribute name="codiceFiscale"
		              type="bt:CodiceFiscale"
		              use="required"/>
		<xs:attribute name="indirizzoPec"
		              type="bt:IndirizzoEmail"
		              use="required"/>
		<xs:attribute name="pubblicoElenco"
		              use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="INIPEC-professionisti"/>
					<xs:enumeration value="RegistroImprese"/>
					<xs:enumeration value="RegInde"/>
					<xs:enumeration value="IPA"/>
					<xs:enumeration value="altro"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="AllegatoSemplice"
	            type="bt:RiferimentoAllegato">
		<xs:annotation>
			<xs:documentation>Riferimento ad un allegato semplice</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NotaIscrizioneRuolo"
	            type="bt:RiferimentoAllegato">
		<xs:annotation>
			<xs:documentation>Riferimento all'allegato per la nota di iscrizione a ruolo</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AttoCitazione"
	            type="bt:RiferimentoAllegato">
		<xs:annotation>
			<xs:documentation>Riferimento all'allegato della copia conforme dell'atto di citazione nelle espropriazioni mobiliari presso terzi</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TitoloEsecutivo"
	            type="bt:RiferimentoAllegato">
		<xs:annotation>
			<xs:documentation>Riferimento all'allegato della copia conforme del titolo esecutivo nelle esecuzioni forzate</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Precetto"
	            type="bt:RiferimentoAllegato">
		<xs:annotation>
			<xs:documentation>Riferimento all'allegato della copia conforme del precetto nelle esecuzioni forzate</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ProcuraLiti"
	            type="bt:RiferimentoAllegato">
		<xs:annotation>
			<xs:documentation>Riferimento all'allegato per la procura alle liti</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RicevutaPagamento"
	            type="bt:RiferimentoAllegato">
		<xs:annotation>
			<xs:documentation>Riferimento all'allegato di ricevuta di pagamento elettronica</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NotificaAccettazione">
		<xs:annotation>
			<xs:documentation>Riferimento all'allegato di ricevuta di accettazione (PEC)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="bt:RiferimentoAllegato">
					<xs:sequence>
						<xs:element name="SoggettoNotificato"
						            type="SoggettoNotificato"
						            maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NotificaConsegna">
		<xs:annotation>
			<xs:documentation>Riferimento all'allegato di ricevuta di avvenuta consegna (PEC)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="bt:RiferimentoAllegato">
					<xs:sequence>
						<xs:element name="SoggettoNotificato"
						            type="SoggettoNotificato"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttestazioneConformita">
		<xs:annotation>
			<xs:documentation>Riferimento all'allegato di attestazione di conformita</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="bt:RiferimentoAllegato">
					<xs:sequence>
						<xs:element name="AllegatoConforme"
						            type="bt:RiferimentoAllegato"
						            maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Riferimento all'allegato di cui si sta attestando la conformita</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttoVeicolato"
	            type="bt:RiferimentoAllegato">
		<xs:annotation>
			<xs:documentation>Riferimento ad un atto veicolato</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
