eToken.hid/SLpct_linux/SLpct_linux/SLpct/Schemi/Schema20241119/Atti/cassazione/parte_v19/Parte-cassazione.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemi.processotelematico.giustizia.it/cassazione/Parte/v19"
           xmlns:tns="http://schemi.processotelematico.giustizia.it/cassazione/Parte/v19"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:bt="http://schemi.processotelematico.giustizia.it/cassazione/tipi/v19"
           xmlns:pt="http://schemi.processotelematico.giustizia.it/cassazione/tipi/atti/v19"
           xmlns:at="http://schemi.processotelematico.giustizia.it/cassazione/tipi/anagrafiche/v19"
           xmlns:evt="http://schemi.processotelematico.giustizia.it/cassazione/eventi/v19"
           targetNamespace="http://schemi.processotelematico.giustizia.it/cassazione/Parte/v19"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/tipi/v19"
               schemaLocation="../base_v19/tipi-base.xsd"/>
    <xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/tipi/atti/v19"
               schemaLocation="../base_v19/tipi-atti.xsd"/>
    <xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/tipi/anagrafiche/v19"
               schemaLocation="../base_v19/tipi-anagrafiche.xsd"/>
    <xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/eventi/v19"
               schemaLocation="../base_v19/eventi-cassazione.xsd"/>
    <xs:annotation>
        <xs:documentation>ATTI DI PARTE IN CORSO DI CAUSA</xs:documentation>
        <xs:documentation>Gli atti qui definiti si riferiscono a procedimenti in essere</xs:documentation>
    </xs:annotation>
    <xs:element name="Ricorso">
        <xs:annotation>
            <xs:documentation>Iscrizione ricorso</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoIntroduttivo">
                    <xs:sequence>
                        <xs:element name="TipoRicorso" type="bt:TipoRicorso"/>
                        <xs:sequence>
                            <xs:element name="dataRichiestaNotifica" type="xs:date">
                                <xs:annotation>
                                    <xs:documentation>Inserire la data della prima notifica del Ricorso
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataEffettivaNotifica" type="xs:date">
                                <xs:annotation>
                                    <xs:documentation>Inserire la data del perfezionamento dell'ultima notifica
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:element name="Provvedimento" type="pt:Provvedimento" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Riferimento all'allegato copia autentica o duplicato informatico del
                                    provvedimento impugnato
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="InizioGiudizioPrimoGrado" type="bt:InizioGiudizioPrimoGrado"/>
                        <xs:element name="Materia" type="bt:MateriaRicorso"/>
                        <xs:element name="valoreCausa" type="bt:Valuta" minOccurs="0"/>
                        <xs:element name="speseGiustizia" type="pt:SpeseGiustizia"/>
                        <xs:element ref="pt:AnagraficaProcedimento"/>
                        <xs:element ref="bt:Motivi"/>
                        <xs:element ref="pt:DocumentiECLI"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="RicorsoErroreMateriale">
        <xs:annotation>
            <xs:documentation>Iscrizione ricorso errore materiale</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoIntroduttivo">
                    <xs:sequence>
                        <xs:sequence>
                            <xs:element name="dataRichiestaNotifica" type="xs:date">
                                <xs:annotation>
                                    <xs:documentation>Inserire la data della prima notifica del Ricorso
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataEffettivaNotifica" type="xs:date">
                                <xs:annotation>
                                    <xs:documentation>Inserire la data del perfezionamento dell'ultima notifica
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:element name="Provvedimento" type="pt:Provvedimento" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Riferimento all'allegato copia autentica o duplicato informatico del
                                    provvedimento della Corte di Cassazione impugnato
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="InizioGiudizioPrimoGrado" type="bt:InizioGiudizioPrimoGrado" minOccurs="0"/>
                        <xs:element name="Materia" type="bt:MateriaRicorso"/>
                        <xs:element name="valoreCausa" type="bt:Valuta" minOccurs="0"/>
                        <xs:element name="speseGiustizia" type="pt:SpeseGiustizia"/>
                        <xs:element ref="pt:AnagraficaProcedimento"/>
                        <xs:element ref="pt:DocumentiECLI"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="RevocazioneExArt391ter">
        <xs:annotation>
            <xs:documentation>Iscrizione ricorso revocazione ex art 391</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoIntroduttivo">
                    <xs:sequence>
                        <xs:sequence>
                            <xs:element name="dataRichiestaNotifica" type="xs:date">
                                <xs:annotation>
                                    <xs:documentation>Inserire la data della prima notifica del Ricorso
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataEffettivaNotifica" type="xs:date">
                                <xs:annotation>
                                    <xs:documentation>Inserire la data del perfezionamento dell'ultima notifica
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:element name="Provvedimento" type="pt:Provvedimento" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Riferimento all'allegato copia autentica o duplicato informatico del
                                    provvedimento della Corte di Cassazione impugnato
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="InizioGiudizioPrimoGrado" type="bt:InizioGiudizioPrimoGrado" minOccurs="0"/>
                        <xs:element name="Materia" type="bt:MateriaRicorso"/>
                        <xs:element name="valoreCausa" type="bt:Valuta" minOccurs="0"/>
                        <xs:element name="speseGiustizia" type="pt:SpeseGiustizia"/>
                        <xs:element ref="pt:AnagraficaProcedimento"/>
                        <xs:element ref="bt:MotiviRevocazione391Ter"/>
                        <xs:element ref="pt:DocumentiECLI"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="RevocazioneExArt391quater">
        <xs:annotation>
            <xs:documentation>Iscrizione ricorso revocazione art 395</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoIntroduttivo">
                    <xs:sequence>
                        <xs:sequence>
                            <xs:element name="dataRichiestaNotifica" type="xs:date">
                                <xs:annotation>
                                    <xs:documentation>Inserire la data della prima notifica del Ricorso
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataEffettivaNotifica" type="xs:date">
                                <xs:annotation>
                                    <xs:documentation>Inserire la data del perfezionamento dell'ultima notifica
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:element name="Provvedimento" type="pt:Provvedimento" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Riferimento all'allegato copia autentica o duplicato informatico del
                                    provvedimento della Corte di Cassazione impugnato
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="InizioGiudizioPrimoGrado" type="bt:InizioGiudizioPrimoGrado" minOccurs="0"/>
                        <xs:element name="Materia" type="bt:MateriaRicorso"/>
                        <xs:element name="valoreCausa" type="bt:Valuta" minOccurs="0"/>
                        <xs:element name="speseGiustizia" type="pt:SpeseGiustizia"/>
                        <xs:element ref="pt:AnagraficaProcedimento"/>
                        <xs:element ref="bt:MotiviRevocazione391Quater"/>
                        <xs:element ref="pt:DocumentiECLI"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ControRicorso">
        <xs:annotation>
            <xs:documentation>Deposito contro-ricorso</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoIntroduttivo">
                    <xs:sequence>
                        <xs:element name="TipoRicorso" type="bt:TipoRicorso"/>
                        <xs:sequence>
                            <xs:element name="dataRichiestaNotifica" type="xs:date" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Inserire la data della prima notifica del Ricorso
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataEffettivaNotifica" type="xs:date" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Inserire la data del perfezionamento dell'ultima notifica
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:element name="Provvedimento" type="pt:Provvedimento" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Riferimento all'allegato copia autentica o duplicato informatico del
                                    provvedimento impugnato
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="InizioGiudizioPrimoGrado" type="bt:InizioGiudizioPrimoGrado" minOccurs="0"/>
                        <xs:element name="Materia" type="bt:MateriaRicorso"/>
                        <xs:element name="valoreCausa" type="bt:Valuta" minOccurs="0"/>
                        <xs:element name="speseGiustizia" type="pt:SpeseGiustizia" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Dati contributo unificato</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="pt:AnagraficaProcedimento"/>
                        <xs:element ref="bt:ControMotivi"/>
                        <xs:element ref="pt:DocumentiECLI"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ControRicorsoIncidentale">
        <xs:annotation>
            <xs:documentation>Deposito del ricorso incidentale</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoIntroduttivo">
                    <xs:sequence>
                        <xs:element name="TipoRicorso" type="bt:TipoRicorso"/>
                        <xs:sequence>
                            <xs:element name="dataRichiestaNotifica" type="xs:date">
                                <xs:annotation>
                                    <xs:documentation>Inserire la data della prima notifica del Ricorso
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataEffettivaNotifica" type="xs:date">
                                <xs:annotation>
                                    <xs:documentation>Inserire la data del perfezionamento dell'ultima notifica
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:element name="Provvedimento" type="pt:Provvedimento" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Riferimento all'allegato copia autentica o duplicato informatico del
                                    provvedimento impugnato
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="InizioGiudizioPrimoGrado" type="bt:InizioGiudizioPrimoGrado" minOccurs="0"/>
                        <xs:element name="Materia" type="bt:MateriaRicorso"/>
                        <xs:element name="valoreCausa" type="bt:Valuta"/>
                        <xs:element name="speseGiustizia" type="pt:SpeseGiustizia">
                            <xs:annotation>
                                <xs:documentation>Dati contributo unificato</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="pt:AnagraficaProcedimento"/>
                        <xs:element ref="bt:Motivi"/>
                        <xs:element ref="bt:ControMotivi"/>
                        <xs:element ref="pt:DocumentiECLI"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AttoGenerico">
        <xs:annotation>
            <xs:documentation>Istanza generica depositabile dall'avvocato</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento">
                    <xs:sequence>
                        <xs:element name="deposito" type="pt:AttiGenerici"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AttoRichiestaVisibilita">
        <xs:annotation>
            <xs:documentation>Atto di richiesta visibilita' del fascicolo</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento">
                    <xs:sequence>
                        <xs:element name="Parte" type="at:Parte">
                            <xs:annotation>
                                <xs:documentation>Parte: soggetto o soggetti nel cui interesse si deposita il ricorso o
                                    il controricorso
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Avvocato" type="at:Avvocato">
                            <xs:annotation>
                                <xs:documentation>L'avvocato qui definito referenzia il partecipante al procedimento.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="RinunciaRicorso">
        <xs:annotation>
            <xs:documentation>Rinuncia ricorso</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="RinunciaProcura">
        <xs:annotation>
            <xs:documentation>Rinuncia procura</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Memoria378">
        <xs:annotation>
            <xs:documentation>Memoria 378</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IstanzaOpposizione380bis">
        <xs:annotation>
            <xs:documentation>Istanza Opposizione 380 bis</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AccettazioneRinunciaRicorso">
        <xs:annotation>
            <xs:documentation>Accettazione Rinuncia Ricorso</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DepositoExArt372">
        <xs:annotation>
            <xs:documentation>Deposito Ex Art 372</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AvvisoRicevutaNotificaRicorso">
        <xs:annotation>
            <xs:documentation>Avviso Ricevuta Notifica Ricorso</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AvvisoRicevutaNotificaControricorso">
        <xs:annotation>
            <xs:documentation>Avviso Ricevuta Notifica Controricorso</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="RicorsoRinnovoNotifica">
        <xs:annotation>
            <xs:documentation>Ricorso Rinnovo Notifica</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IstanzaCessazioneMateriaContendere">
        <xs:annotation>
            <xs:documentation>Istanza Cessazione Materia Contendere</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IstanzaRimborsoSpeseGiustizia">
        <xs:annotation>
            <xs:documentation>Istanza Rimborso Spese Giustizia</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IstanzaAssegnazioneSezioniUnite">
        <xs:annotation>
            <xs:documentation>Istanza Assegnazione Sezioni Unite</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IstanzaPatrocinioASpeseDelloStato">
        <xs:annotation>
            <xs:documentation>Istanza Patrocinio A Spese Dello Stato</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IstanzaRiunioneRicorsi">
        <xs:annotation>
            <xs:documentation>Istanza Riunione Ricorsi</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IstanzaSollecitaFissazione">
        <xs:annotation>
            <xs:documentation>Istanza Sollecita Fissazione</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IstanzaSospensioneGiudizio">
        <xs:annotation>
            <xs:documentation>Istanza Sospensione Giudizio</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IstanzaRinnovoNotificaRicorso">
        <xs:annotation>
            <xs:documentation>Istanza Rinnovo Notifica Ricorso</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IstanzaRinvioUdienza">
        <xs:annotation>
            <xs:documentation>Istanza Rinvio Udienza</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="RicorsoPerSaltum">
        <xs:annotation>
            <xs:documentation>Ricorso Per Saltum</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DocumentiCondonoFiscale">
        <xs:annotation>
            <xs:documentation>Documenti Condono Fiscale</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SegnalazioneErroreMateriale">
        <xs:annotation>
            <xs:documentation>Segnalazione Errore Materiale</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento">
                    <xs:sequence>
                        <xs:element name="numRaccGProvv" type="xs:long">
                            <xs:annotation>
                                <xs:documentation>Numero Raccolta Generale del Provvedimento da correggere
                                </xs:documentation>
                                <xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="annoRaccGProvv" type="xs:long">
                            <xs:annotation>
                                <xs:documentation>Anno Raccolta Generale del Provvedimento da correggere
                                </xs:documentation>
                                <xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Memoria380bis1">
        <xs:annotation>
            <xs:documentation>Memoria 380 bis 1</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Memoria380ter">
        <xs:annotation>
            <xs:documentation>Memoria 380 ter</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ProvvedimentoImpugnato">
        <xs:annotation>
            <xs:documentation>Provvedimento Impugnato</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IntegrazioneAnagrafica">
        <xs:annotation>
            <xs:documentation>Atto utilizzato per il deposito di procura speciale costituzione, sostituzione/revoca,
                integrazioni del contradittorio e variazione domicilio
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento">
                    <xs:sequence>
                        <xs:element ref="pt:ModificheAnagrafica">
                            <xs:annotation>
                                <xs:documentation>Parti che si costituiscono o per cui viene modificata l'anagrafica
                                </xs:documentation>
                                <xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="deposito">
                            <xs:annotation>
                                <xs:documentation>Specifica la tipologia di atto oggetto di deposito</xs:documentation>
                                <xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:choice>
                                    <xs:element ref="evt:ProcuraSpecialeSostituzioneRevoca"/>
                                    <xs:element ref="evt:ProcuraSpecialeCostituzione"/>
                                    <xs:element ref="evt:IntegrazioneContradittorio"/>
                                    <xs:element ref="evt:VariazioneDomicilio"/>
                                    <xs:element ref="evt:ModificaPrivacy"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IntegrazioneSpeseGiustizia">
        <xs:annotation>
            <xs:documentation>Integrazione del contributo unificato versato</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento">
                    <xs:sequence>
                        <xs:element name="speseGiustizia" type="pt:integrazioneSpeseGiustizia">
                            <xs:annotation>
                                <xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DefinizioneAgevolataL130_2022">
        <xs:annotation>
            <xs:documentation>Definizione Agevolata Ex Art. 5 L.130/2022</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IstanzaTrattazioneL130_2022">
        <xs:annotation>
            <xs:documentation>Istanza Di Trattazione Ex Art. 5 L.130/2022</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IstanzaSospensioneL130_2022">
        <xs:annotation>
            <xs:documentation>Istanza Di Sospensione Ex Art. 5 L.130/2022</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IstanzaSospensioneExL197_2022">
        <xs:annotation>
            <xs:documentation>Istanza Di Sospensione Per Definizione Agevolata Ex L.197/2022</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ProduzionePagamentoExL197_2022">
        <xs:annotation>
            <xs:documentation>Definizione Agevolata - Produzione Pagamento Ex L.197/2022</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IstanzaAnticipazioneUdienza">
        <xs:annotation>
            <xs:documentation>Istanza Di Anticipazione Udienza</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IstanzaTrattazionePubblicaUdienza">
        <xs:annotation>
            <xs:documentation>Istanza Trattazione Pubblica Udienza (da protocollo di intesa)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IstanzaOscuramento">
        <xs:annotation>
            <xs:documentation>Atto utilizzato per il deposito di procura speciale costituzione, sostituzione/revoca,
                integrazioni del contradittorio e variazione domicilio
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoProcedimento">
                    <xs:sequence>
                        <xs:element name="Parte" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Parti che si costituiscono o per cui viene modificata l'anagrafica
                                </xs:documentation>
                                <xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Privacy">
                            <xs:annotation>
                                <xs:documentation>Tipologia della privacy</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="A_RICHIESTA_DI_PARTE">
                                        <xs:annotation>
                                            <xs:documentation>Oscuramento disposto a seguito di istanza di parte
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="EX_LEGE">
                                        <xs:annotation>
                                            <xs:documentation>Oscuramento disposto EX LEGE</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
