SLpct_linux/SLpct/Schemi/Schema20251010/Atti/sici/siecic_v1/TrasmissioniSIECIC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:pt="http://schemi.processotelematico.giustizia.it/tipi/atti/v6"
		   xmlns="http://schemi.processotelematico.giustizia.it/siecic/trasmissioni/v1"
		   xmlns:ns1="http://schemi.processotelematico.giustizia.it/tipi"
		   targetNamespace="http://schemi.processotelematico.giustizia.it/siecic/trasmissioni/v1"
		   elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <xs:import namespace="http://schemi.processotelematico.giustizia.it/tipi/atti/v6" schemaLocation="./base_v6/tipi-atti.xsd"/>
    <xs:import namespace="http://schemi.processotelematico.giustizia.it/tipi/anagrafiche/v4" schemaLocation="./base_v4/tipi-anagrafiche.xsd"/>
    <xs:import namespace="http://schemi.processotelematico.giustizia.it/tipi" schemaLocation="./tipi-base.xsd"/>
    <xs:annotation>
        <xs:documentation>TRASMISSIONE ATTI SOGGETTI ESTERNI</xs:documentation>
        <xs:documentation>Gli atti qui definiti vanno inviati a soggetti con censiti nel fascicolo. E' presente anche la
            rispota che tali soggetti devono inoltrare all'Ufficio compentente
        </xs:documentation>
    </xs:annotation>
    <xs:complexType name="DatiMandatoPagamento">
        <xs:sequence>
            <xs:element name="CodiceFiscale" type="ns1:CodiceFiscale"/>
            <xs:element name="CognomeDestinatario" type="xs:string"/>
            <xs:element name="NomeDestinatario" type="xs:string" nillable="true"/>
            <xs:element name="DataEmissioneMandato" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TrasmissioniMandatoPagamento">
        <xs:annotation>
            <xs:documentation>Mandata di pagamento emesso dal giudice</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoTrasmissione">
                    <xs:sequence>
                        <xs:element ref="pt:AnagraficaProcedimento"/>
                        <xs:element name="mandatoPagamento" type="DatiMandatoPagamento"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TrasmissioniEnti">
        <xs:annotation>
            <xs:documentation>Mandata di pagamento emesso dal giudice</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoTrasmissione">
                    <xs:sequence>
                        <xs:element ref="pt:AnagraficaProcedimento"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="RispostaATrasmissione">
        <xs:annotation>
            <xs:documentation>Iscrizione al ruolo di un ricorso generico</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="pt:AttoTrasmissione"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
