eToken.hid/SLpct_linux/SLpct_linux/SLpct/Schemi/Schema20251010/Atti/sici/sicid_v1/AnagraficaIstantiAdozione.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemi.processotelematico.giustizia.it/sicid/istanzeadozione/v1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemi.processotelematico.giustizia.it/sicid/istanzeadozione/v1"
           elementFormDefault="qualified" version="1.0">

    <xs:annotation>
        <xs:documentation>Schema XSD per la definizione dei dati anagrafici degli istanti di adozione</xs:documentation>
    </xs:annotation>

    <xs:complexType name="AnagraficaCoppiaIstante">
        <xs:annotation>
            <xs:documentation>Informazioni anagrafiche della coppia istante</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DatiIstante" type="IstanteType" maxOccurs="2">
                <xs:annotation>
                    <xs:documentation>Primo istante adozione</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DatiCoppia" type="DatiCoppiaType">
                <xs:annotation>
                    <xs:documentation>Dati relativi alla coppia istante</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IstanteType">
        <xs:annotation>
            <xs:documentation>Dati specifici di un singolo istante adozione</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="professione" type="ProfessioneIstante" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Professione del soggetto istante</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="salute" type="SaluteIstante" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Stato di salute del soggetto istante</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="scolarita" type="ScolaritaIstante" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Scolarita' del soggetto istante</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="statoCivile" type="StatoCivileIstante" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Stato civile del soggetto istante</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
        <xs:attribute name="riferimentoParte" type="xs:NMTOKEN" use="required">
            <xs:annotation>
                <xs:documentation>Riferimento alla parte del procedimento corrispondente a questo istante
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="DatiCoppiaType">
        <xs:annotation>
            <xs:documentation>Dati comuni relativi a entrambi i soggetti della coppia</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="dataDepositoIstanza" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Data deposito dell'istanza di adozione</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="numMinoriDesiderati" type="NumMinoriCoppia" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Numero minori desiderati dalla coppia istante</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nazioneProvenienzaMinore" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Nazione di provenienza del minore</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dataMatrimonio" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Data matrimonio della coppia</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dataInizioConvivenza" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Data inizio convivenza della coppia</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="numeroFigliAdottivi" type="xs:integer" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Numero figli adottivi della coppia</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="numeroFigliNaturali" type="xs:integer" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Numero figli naturali della coppia</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="numeroMinoriAffidamentoPreadottivo" type="xs:integer" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Numero minori affidati alla coppia in affidamento preadottivo</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="numeroMinoriAffidamentoTemporaneo" type="xs:integer" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Numero minori affidati alla coppia in affidamento temporaneo</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dettaglioUlterioriDomanda" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Informazioni su una domanda di adozione gia' presentata</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="domandaEsistente" type="DettaglioDomandaEsistenteType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="tipologiaAdozioneRichiesta" type="TipologiaAdozione" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tipologia di adozione richiesta</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="redditoLordoCoppia" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Reddito lordo della coppia</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="note" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="DettaglioDomandaEsistenteType">
        <xs:annotation>
            <xs:documentation>Dettagli di una domanda di adozione gia' presentata</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="dataPresentazione" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Data di presentazione della domanda di adozione</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tribunaleAdito" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tribunale presso il quale e' stata presentata la domanda di adozione precedente
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nrg" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Anno e numero di ruolo del fascicolo relativo alla domanda di adozione
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="oggetto" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Oggetto della domanda di adozione</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="esito" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Esito della domanda di adozione</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:simpleType name="ProfessioneIstante">
        <xs:annotation>
            <xs:documentation>Professione istante adozione</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGENTE DI COMMERCIO"/>
            <xs:enumeration value="AGENTE IMMOBILIARE"/>
            <xs:enumeration value="ALTRO"/>
            <xs:enumeration value="AMMINISTRATORE DI CONDOMINIO"/>
            <xs:enumeration value="APPRENDISTA"/>
            <xs:enumeration value="ARCHITETTO"/>
            <xs:enumeration value="ARTIGIANO"/>
            <xs:enumeration value="ARTISTA"/>
            <xs:enumeration value="ASSISTENTE PARLAMENTARE"/>
            <xs:enumeration value="ASSISTENTE SOCIALE"/>
            <xs:enumeration value="ASSISTENTE SOCIO-SANITARIO"/>
            <xs:enumeration value="AUTISTA DI MEZZI PUBBLICI"/>
            <xs:enumeration value="AUTISTA PRIVATO"/>
            <xs:enumeration value="AUTOTRASPORTATORE"/>
            <xs:enumeration value="AVVOCATO"/>
            <xs:enumeration value="BARISTA"/>
            <xs:enumeration value="BIBLIOTECARIO"/>
            <xs:enumeration value="BIOLOGO"/>
            <xs:enumeration value="CAMERIERE"/>
            <xs:enumeration value="CARPENTIERE EDILE"/>
            <xs:enumeration value="CASALINGO"/>
            <xs:enumeration value="COLLABORATORE FAMILIARE/DOMESTICO"/>
            <xs:enumeration value="COLLABORATORE SCOLASTICO"/>
            <xs:enumeration value="COLTIVATORE DIRETTO"/>
            <xs:enumeration value="COMMERCIALISTA"/>
            <xs:enumeration value="COMMERCIANTE"/>
            <xs:enumeration value="COMMESSO"/>
            <xs:enumeration value="CONSIGLIERE (REG. PROV. COM. SINDACO ECC.)"/>
            <xs:enumeration value="CONSULENTE DEL LAVORO"/>
            <xs:enumeration value="CUOCO O AIUTO CUOCO"/>
            <xs:enumeration value="CUSTODE DI PORTINERIA"/>
            <xs:enumeration value="DIPLOMATICO"/>
            <xs:enumeration value="DIRIGENTE ALLE DIPENDENZE DI PRIVATI"/>
            <xs:enumeration value="DIRIGENTE PUBBLICA AMMINISTRAZIONE"/>
            <xs:enumeration value="DOMESTICO O BABY SITTER"/>
            <xs:enumeration value="ELETTRICISTA"/>
            <xs:enumeration value="ESTETISTA, MASSAGIATORE O PODOLOGO"/>
            <xs:enumeration value="FANTINO"/>
            <xs:enumeration value="FARMACISTA"/>
            <xs:enumeration value="FIORAIO"/>
            <xs:enumeration value="FISIOTERAPISTA"/>
            <xs:enumeration value="GARAGISTA"/>
            <xs:enumeration value="GESTORE PUBBLICI ESERCIZI"/>
            <xs:enumeration value="GIORNALAIO"/>
            <xs:enumeration value="GIORNALISTA"/>
            <xs:enumeration value="GUARDIA GIURATA"/>
            <xs:enumeration value="HOSTESS E STEWARD"/>
            <xs:enumeration value="IDRAULICO"/>
            <xs:enumeration value="IMPIEGATO ALLE DIPENDENZE DI PRIVATI"/>
            <xs:enumeration value="IMPIEGATO PUBBLICA AMMINISTRAZIONE"/>
            <xs:enumeration value="IMPRENDITORE"/>
            <xs:enumeration value="INFERMIERE"/>
            <xs:enumeration value="INGEGNERE"/>
            <xs:enumeration value="INSEGNANTE DI SCUOLA DELL'INFANZIA, SCUOLA PRIMARIA E SECONDARIA"/>
            <xs:enumeration value="INTERPRETE E TRADUTTORE"/>
            <xs:enumeration value="LAVORATORE AGRICOLO DIPENDENTE"/>
            <xs:enumeration value="LIBERO PROFESSIONISTA"/>
            <xs:enumeration value="MAGAZZINIERE"/>
            <xs:enumeration value="MAGISTRATO"/>
            <xs:enumeration value="MEDICO"/>
            <xs:enumeration value="MILITARE"/>
            <xs:enumeration value="MURATORE"/>
            <xs:enumeration value="NOTAIO"/>
            <xs:enumeration value="ODONTOIATRA E DENTISTA"/>
            <xs:enumeration value="OPERAIO ALLE DIPENDENZE DI PRIVATI"/>
            <xs:enumeration value="OPERAIO PUBBLICA AMMINISTRAZIONE"/>
            <xs:enumeration value="OPERATORE ECOLOGICO"/>
            <xs:enumeration value="OPERATORE TURISTICO E CULTURALE"/>
            <xs:enumeration value="PARLAMENTARE"/>
            <xs:enumeration value="PARRUCCHIERE BARBIERE ACCONCIATORE"/>
            <xs:enumeration value="PASTICCIERE"/>
            <xs:enumeration value="PASTORE"/>
            <xs:enumeration value="PEDAGOGISTA"/>
            <xs:enumeration value="PENSIONATO"/>
            <xs:enumeration value="PERSONALE POLIZIA MUNICIPALE"/>
            <xs:enumeration value="PESCATORE"/>
            <xs:enumeration value="PILOTA AUTO E MOTO"/>
            <xs:enumeration value="PILOTA DI AEREI"/>
            <xs:enumeration value="PORTANTINO"/>
            <xs:enumeration value="POSTEGGIATORE"/>
            <xs:enumeration value="PROFESSORE UNIVERSITARIO"/>
            <xs:enumeration value="PSICOLOGO"/>
            <xs:enumeration value="RAPPRESENTANTE DI COMMERCIO"/>
            <xs:enumeration value="RICERCATORE UNIVERSITARIO"/>
            <xs:enumeration value="ROTTAMAIO"/>
            <xs:enumeration value="SOCIOLOGO"/>
            <xs:enumeration value="STUDENTE"/>
            <xs:enumeration value="TIPOGRAFO"/>
            <xs:enumeration value="VENDITORE AMBULANTE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SaluteIstante">
        <xs:annotation>
            <xs:documentation>Stato di salute istante adozione</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASSENZA DI MALATTIE IN ATTO"/>
            <xs:enumeration value="CERTIFICATO DI SANA E ROBUSTA COSTITUZIONE"/>
            <xs:enumeration value="PATOLOGIA ACCERTATA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ScolaritaIstante">
        <xs:annotation>
            <xs:documentation>Scolarita' istante adozione</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALFABETA SENZA TITOLO DI STUDIO"/>
            <xs:enumeration value="ANALFABETA"/>
            <xs:enumeration value="DIPLOMA DI SCUOLA SECONDARIA SUPERIORE"/>
            <xs:enumeration value="LAUREA"/>
            <xs:enumeration value="LICENZA ELEMENTARE"/>
            <xs:enumeration value="LICENZA SCUOLA MEDIA INFERIORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StatoCivileIstante">
        <xs:annotation>
            <xs:documentation>Stato civile istante adozione</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="LIBERO"/>
            <xs:enumeration value="CONIUGATO"/>
            <xs:enumeration value="VEDOVO"/>
            <xs:enumeration value="SEPARATO"/>
            <xs:enumeration value="DIVORZIATO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumMinoriCoppia">
        <xs:annotation>
            <xs:documentation>Numero minori desiderati dalla coppia istante</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="UN MINORE"/>
            <xs:enumeration value="DUE MINORI"/>
            <xs:enumeration value="PIU' DI DUE MINORI"/>
            <xs:enumeration value="PIU' DI DUE MINORI LEGATI DA VINCOLO DI FRATELLANZA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TipologiaAdozione">
        <xs:annotation>
            <xs:documentation>Tipologia di adozione richiesta</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="NazionaleStandard" type="xs:boolean" default="true"/>
            <xs:element name="Internazionale" type="xs:boolean" default="true"/>
            <xs:element name="NazionaleFuoriDistretto" type="xs:boolean" default="true"/>
            <xs:element name="Mirata">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="nome" type="xs:string" minOccurs="0"/>
                        <xs:element name="cognome" type="xs:string" minOccurs="0"/>
                        <xs:element name="dataNascita" type="xs:date" minOccurs="0"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
</xs:schema>

