eToken.hid/SLpct_linux/SLpct_linux/SLpct/Schemi/Schema20241119/Atti/cassazione/base_v17/tipi-atti.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:at="http://schemi.processotelematico.giustizia.it/cassazione/tipi/anagrafiche/v17" xmlns:bt="http://schemi.processotelematico.giustizia.it/cassazione/tipi/v17" xmlns:all="http://schemi.processotelematico.giustizia.it/cassazione/tipi/allegati/v17" xmlns:pt="http://schemi.processotelematico.giustizia.it/cassazione/tipi/atti/v17" xmlns:evt="http://schemi.processotelematico.giustizia.it/cassazione/eventi/v17" xmlns="http://schemi.processotelematico.giustizia.it/cassazione/tipi/atti/v17" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemi.processotelematico.giustizia.it/cassazione/tipi/atti/v17" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/tipi/v17" schemaLocation="./tipi-base.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/tipi/anagrafiche/v17" schemaLocation="./tipi-anagrafiche.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/tipi/allegati/v17" schemaLocation="./tipi-allegati.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/eventi/v17" schemaLocation="./eventi-cassazione.xsd"/>
	<xs:attributeGroup name="RegistroTelematico">
		<xs:annotation>
			<xs:documentation>Attributi necessari ad individuare un registro telematico cui ha avuto origine il provvedimento</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ufficio" type="xs:string" use="required"/>
		<xs:attribute name="ruolo" type="bt:Ruolo" use="required"/>
		<xs:attribute name="rito" type="bt:Rito" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="RegistroTelematicoCassazione">
		<xs:annotation>
			<xs:documentation>Attributi necessari ad individuare un registro telematico</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ufficio" type="xs:string" use="required"/>
		<xs:attribute name="ruolo" type="bt:RuoloCassazione" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="ECLI">
		<xs:annotation>
			<xs:documentation>Attributi che definiscono le coordinate ECLI (esempio: ECLI:NL:HR:2009:384425, corrispondente alla decisione 384425 emessa dalla Corte Suprema ("HR") dei Paesi Bassi ("NL") nell'anno 2009)
		codicePaese - il codice del paese
		organo - il codice dell'organo giurisdizionale che ha emesso la sentenza
		anno - l'anno in cui la sentenza è stata emessa
		ordinale - un numero ordinale sino ad un massimo di 25 caratteri alfanumerici, in un formato concordato da ciascuno Stato membro. Sono consentiti i punti, ma non altri segni di interpunzione
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="codicePaese" type="xs:string" use="required"/>
		<xs:attribute name="organo" type="xs:string" use="required"/>
		<xs:attribute name="anno" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="ordinale" type="xs:string" use="required"/>
	</xs:attributeGroup>
	<xs:complexType name="CoordinateECLI">
		<xs:annotation>
			<xs:documentation>Coordinate ECLI</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="descrizione" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="ECLI"/>
	</xs:complexType>
	<xs:element name="DocumentiECLI">
		<xs:annotation>
			<xs:documentation>Documenti ECLI.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ECLI" type="CoordinateECLI" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Elenco dei riferimenti ai documenti con coordinate ECLI</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="NumeroProcedimento">
		<xs:annotation>
			<xs:documentation>Numero di un procedimento</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:nonNegativeInteger">
				<xs:attribute name="sub" type="xs:nonNegativeInteger" use="optional">
					<xs:annotation>
						<xs:documentation>Per individuare eventuali subprocedimenti.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RiferimentoProcedimento">
		<xs:annotation>
			<xs:documentation>Riferimento ad un procedimento all'interno del sistema di gestione dei registri.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="numero" type="NumeroProcedimento"/>
			<xs:element name="anno" type="xs:nonNegativeInteger"/>
		</xs:sequence>
		<xs:attributeGroup ref="RegistroTelematico"/>
	</xs:complexType>
	<xs:complexType name="RiferimentoProcedimentoCassazione">
		<xs:annotation>
			<xs:documentation>Riferimento ad un procedimento all'interno del sistema di gestione dei registri.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="numero" type="NumeroProcedimento"/>
			<xs:element name="anno" type="xs:nonNegativeInteger"/>
		</xs:sequence>
		<xs:attributeGroup ref="RegistroTelematicoCassazione"/>
	</xs:complexType>
	<xs:complexType name="RiferimentoFascicolo">
		<xs:annotation>
			<xs:documentation>Riferimento ad un fascicolo all'interno del sistema di gestione dei registri. Ad un fascicolo sono legati uno o piu' procedimenti.
		Nel riferimento al fascicolo non e' indicato il ruolo di iscrizione in quanto e' sempre identico a quello dell'atto che utilizza il riferimento.      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="numero" type="xs:nonNegativeInteger"/>
			<xs:element name="anno" type="xs:nonNegativeInteger"/>
			<xs:element name="sub" type="xs:nonNegativeInteger"/>
		</xs:sequence>
		<xs:attributeGroup ref="RegistroTelematico"/>
	</xs:complexType>
	<xs:complexType name="IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Tipo astratto per l'evento scaricabile dall'atto</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="BollettinoPostale">
		<xs:annotation>
			<xs:documentation>Estremi per l'identificazione di pagamento tramite bollettino postale</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="bt:Valuta">
				<xs:attribute name="agenzia" type="bt:CodiceUfficioPostale" use="required"/>
				<xs:attribute name="vcy" type="bt:CodiceVCY" use="required"/>
				<xs:attribute name="data" type="xs:date" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MarcheLottoMatica">
		<xs:annotation>
			<xs:documentation>Estremi per l'dentificazione di pagemento tramite marca da bollo LottoMatica</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Marca">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="bt:Valuta">
							<xs:attribute name="ID" type="xs:string" use="required"/>
							<xs:attribute name="data" type="xs:date" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ModelloF23">
		<xs:annotation>
			<xs:documentation>Estremi per l'identificazione/qualificazione del pagamento tramite modello F23</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="bt:Valuta">
				<xs:attribute name="data" type="xs:date" use="required"/>
				<xs:attribute name="ID" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AttoProcedimento" abstract="true">
		<xs:annotation>
			<xs:documentation>Generico atto in corso di causa.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="procedimento" type="RiferimentoProcedimentoCassazione">
				<xs:annotation>
					<xs:documentation>Riferimento al procedimento pendente. Deve essere valorizzato nei controricorsi, nei controricorsi incidentali e negli atti in corso di causa con il NRG del ricorso principale.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndiceBusta" type="all:IndiceBusta" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="RefId" type="xs:NMTOKEN"/>
	</xs:complexType>
	<xs:complexType name="AttoSistema">
		<xs:annotation>
			<xs:documentation>Generico atto per la definizione del registro dei depositi di sistema pubblici</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="destinazione">
					<xs:annotation>
						<xs:documentation>Deve essere valorizzato nel caso di atto introduttivo.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attributeGroup ref="RegistroTelematicoCassazione"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="procedimento" type="RiferimentoProcedimentoCassazione">
					<xs:annotation>
						<xs:documentation>Riferimento al procedimento pendente. Deve essere valorizzato nei controricorsi, nei controricorsi incidentali e negli atti in corso di causa con il NRG del ricorso principale .</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="IndiceBusta" type="all:IndiceBusta" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DepositoComplementare">
		<xs:annotation>
			<xs:documentation>Atto per il deposito di allegati complementari.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AttoSistema">
					<xs:sequence>
						<xs:element name="RefId" type="xs:NMTOKEN"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="AttoIntroduttivo" abstract="true">
		<xs:annotation>
			<xs:documentation>Generico atto per l'introduzione di una causa al ruolo.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="destinazione">
					<xs:annotation>
						<xs:documentation>Deve essere valorizzato nel caso di atto introduttivo.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attributeGroup ref="RegistroTelematicoCassazione"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="procedimento" type="RiferimentoProcedimentoCassazione">
					<xs:annotation>
						<xs:documentation>Riferimento al procedimento pendente. Deve essere valorizzato nei controricorsi, nei controricorsi incidentali e negli atti in corso di causa con il NRG del ricorso principale .</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="IndiceBusta" type="all:IndiceBusta" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="RefId" type="xs:NMTOKEN"/>
	</xs:complexType>
	<xs:complexType name="AttiGenerici">
		<xs:choice minOccurs="0">
			<xs:element ref="evt:NonCodificato"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AnagraficaProcedimento">
		<xs:annotation>
			<xs:documentation>Dati anagrafici relativi al procedimento da iscrivere</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Partecipanti">
				<xs:annotation>
					<xs:documentation>Parti in causa</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Parte" type="at:Parte" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Parte: soggetto o soggetti nel cui interesse si deposita il ricorso o il controricorso</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ControParte" type="at:Controparte" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Controparte: indicare la parte-i intimata-e  oppure, nel controricorso, la parte o le parti ricorrenti</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Soggetti"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnagraficaCostituzione">
		<xs:annotation>
			<xs:documentation>Dati anagrafici delle parti coinvolte nella costituzione e nella modifica dell'anagrafica del fascicolo</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Partecipanti">
				<xs:annotation>
					<xs:documentation>Parti che si costituiscono nel procedimento</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Parte" type="at:Parte" maxOccurs="unbounded"/>
						<xs:element name="Chiamato" type="at:Parte" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Soggetti"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpeseGiustizia">
		<xs:annotation>
			<xs:documentation>Dettaglio spese di Giustizia</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContributoUnificato">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="Importo">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="bt:Valuta">
											<xs:attribute name="tipoContributoUnificato" use="required">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="Fisso"/>
														<xs:enumeration value="Determinato"/>
														<xs:enumeration value="Indeterminato"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
											<xs:attribute name="debito" type="xs:boolean" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="EstremiPagamento" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Va indicato solo se il contributo è fisso, determinato o indeterminato. Non specificare gli estremi di pagamento se quest'ultimo e' telematico. Va allegata al deposito la sola ricevuta telematica.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="LottoMatica" type="MarcheLottoMatica">
											<xs:annotation>
												<xs:documentation>Marche da bollo utilizzate per il pagamento dell'importo</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BollettinoPostale" type="BollettinoPostale">
											<xs:annotation>
												<xs:documentation>Identificazione del bollettino postale con l'importo pagato del contributo unificato.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ModelloF23" type="ModelloF23">
											<xs:annotation>
												<xs:documentation>Identificazione del pagamento tramite modello F23</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:element name="Esente" type="xs:boolean" fixed="true"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="integrazione_69_2009_art_13_co_2_bis_tu">
				<xs:annotation>
					<xs:documentation>L’ integrazione l. 69/2009 art. 13 co. 2 bis tu</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="Esente" type="xs:boolean" fixed="true"/>
						<xs:sequence>
							<xs:element name="Importo">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="bt:Valuta">
											<xs:attribute name="debito" type="xs:boolean" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="EstremiPagamento" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Va indicato solo se le spese sono state assolte. Non specificare gli estremi di pagamento se quest'ultimo e' telematico. Va allegata al deposito la sola ricevuta telematica.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="LottoMatica" type="MarcheLottoMatica">
											<xs:annotation>
												<xs:documentation>Marche da bollo utilizzate per il pagamento dell'importo</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BollettinoPostale" type="BollettinoPostale">
											<xs:annotation>
												<xs:documentation>Identificazione del bollettino postale con l'importo pagato del contributo unificato.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ModelloF23" type="ModelloF23">
											<xs:annotation>
												<xs:documentation>Identificazione del pagamento tramite modello F23</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="diritti_registrazione_ruolo_tu_art_30">
				<xs:annotation>
					<xs:documentation>I diritti di registrazione a ruolo tu art. 30</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="Esente" type="xs:boolean" fixed="true"/>
						<xs:sequence>
							<xs:element name="Importo">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="bt:Valuta">
											<xs:attribute name="debito" type="xs:boolean" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="EstremiPagamento" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Va indicato solo se le spese sono state assolte. Non specificare gli estremi di pagamento se quest'ultimo e' telematico. Va allegata al deposito la sola ricevuta telematica.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="LottoMatica" type="MarcheLottoMatica">
											<xs:annotation>
												<xs:documentation>Marche da bollo utilizzate per il pagamento dell'importo</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BollettinoPostale" type="BollettinoPostale">
											<xs:annotation>
												<xs:documentation>Identificazione del bollettino postale con l'importo pagato del contributo unificato.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ModelloF23" type="ModelloF23">
											<xs:annotation>
												<xs:documentation>Identificazione del pagamento tramite modello F23</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="notifica_avvocati_art_34_tu">
				<xs:annotation>
					<xs:documentation>Le spese di notifica avvocati art. 34 tu (solo se richieste e variabili in base al numero dei destinatari).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="Esente" type="xs:boolean" fixed="true"/>
						<xs:sequence>
							<xs:element name="Importo">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="bt:Valuta">
											<xs:attribute name="debito" type="xs:boolean" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="EstremiPagamento" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Va indicato solo se le spese sono state assolte. Non specificare gli estremi di pagamento se quest'ultimo e' telematico. Va allegata al deposito la sola ricevuta telematica.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="LottoMatica" type="MarcheLottoMatica">
											<xs:annotation>
												<xs:documentation>Marche da bollo utilizzate per il pagamento dell'importo</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BollettinoPostale" type="BollettinoPostale">
											<xs:annotation>
												<xs:documentation>Identificazione del bollettino postale con l'importo pagato del contributo unificato.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ModelloF23" type="ModelloF23">
											<xs:annotation>
												<xs:documentation>Identificazione del pagamento tramite modello F23</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="integrazioneSpeseGiustizia">
		<xs:annotation>
			<xs:documentation>Dettaglio spese di Giustizia</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="ContributoUnificato">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Importo">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="bt:Valuta">
										<xs:attribute name="tipoContributoUnificato" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Fisso"/>
													<xs:enumeration value="Determinato"/>
													<xs:enumeration value="Indeterminato"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
										<xs:attribute name="debito" type="xs:boolean" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="EstremiPagamento" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Va indicato solo se il contributo è fisso, determinato o indeterminato. Non specificare gli estremi di pagamento se quest'ultimo e' telematico. Va allegata al deposito la sola ricevuta telematica.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element name="LottoMatica" type="MarcheLottoMatica">
										<xs:annotation>
											<xs:documentation>Marche da bollo utilizzate per il pagamento dell'importo</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="BollettinoPostale" type="BollettinoPostale">
										<xs:annotation>
											<xs:documentation>Identificazione del bollettino postale con l'importo pagato del contributo unificato.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ModelloF23" type="ModelloF23">
										<xs:annotation>
											<xs:documentation>Identificazione del pagamento tramite modello F23</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="integrazione_69_2009_art_13_co_2_bis_tu">
				<xs:annotation>
					<xs:documentation>L’ integrazione l. 69/2009 art. 13 co. 2 bis tu</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Importo">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="bt:Valuta">
										<xs:attribute name="debito" type="xs:boolean" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="EstremiPagamento" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Va indicato solo se le spese sono state assolte. Non specificare gli estremi di pagamento se quest'ultimo e' telematico. Va allegata al deposito la sola ricevuta telematica.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element name="LottoMatica" type="MarcheLottoMatica">
										<xs:annotation>
											<xs:documentation>Marche da bollo utilizzate per il pagamento dell'importo</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="BollettinoPostale" type="BollettinoPostale">
										<xs:annotation>
											<xs:documentation>Identificazione del bollettino postale con l'importo pagato del contributo unificato.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ModelloF23" type="ModelloF23">
										<xs:annotation>
											<xs:documentation>Identificazione del pagamento tramite modello F23</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="diritti_registrazione_ruolo_tu_art_30">
				<xs:annotation>
					<xs:documentation>I diritti di registrazione a ruolo tu art. 30</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Importo">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="bt:Valuta">
										<xs:attribute name="debito" type="xs:boolean" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="EstremiPagamento" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Va indicato solo se le spese sono state assolte. Non specificare gli estremi di pagamento se quest'ultimo e' telematico. Va allegata al deposito la sola ricevuta telematica.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element name="LottoMatica" type="MarcheLottoMatica">
										<xs:annotation>
											<xs:documentation>Marche da bollo utilizzate per il pagamento dell'importo</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="BollettinoPostale" type="BollettinoPostale">
										<xs:annotation>
											<xs:documentation>Identificazione del bollettino postale con l'importo pagato del contributo unificato.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ModelloF23" type="ModelloF23">
										<xs:annotation>
											<xs:documentation>Identificazione del pagamento tramite modello F23</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="notifica_avvocati_art_34_tu">
				<xs:annotation>
					<xs:documentation>Le spese di notifica avvocati art. 34 tu (solo se richieste e variabili in base al numero dei destinatari).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Importo">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="bt:Valuta">
										<xs:attribute name="debito" type="xs:boolean" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="EstremiPagamento" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Va indicato solo se le spese sono state assolte. Non specificare gli estremi di pagamento se quest'ultimo e' telematico. Va allegata al deposito la sola ricevuta telematica.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element name="LottoMatica" type="MarcheLottoMatica">
										<xs:annotation>
											<xs:documentation>Marche da bollo utilizzate per il pagamento dell'importo</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="BollettinoPostale" type="BollettinoPostale">
										<xs:annotation>
											<xs:documentation>Identificazione del bollettino postale con l'importo pagato del contributo unificato.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ModelloF23" type="ModelloF23">
										<xs:annotation>
											<xs:documentation>Identificazione del pagamento tramite modello F23</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="AnagraficaProcedimento" type="AnagraficaProcedimento">
		<xs:annotation>
			<xs:documentation>Anagrafica delle parti e loro difensori</xs:documentation>
		</xs:annotation>
		<xs:key name="PK_PARTECIPANTI">
			<xs:selector xpath="pt:Partecipanti/*"/>
			<xs:field xpath="@ID"/>
		</xs:key>
		<xs:key name="PK_PARTE">
			<xs:selector xpath="pt:Partecipanti/pt:Parte"/>
			<xs:field xpath="@ID"/>
		</xs:key>
		<xs:key name="PK_CONTROPARTE">
			<xs:selector xpath="pt:Partecipanti/pt:ControParte"/>
			<xs:field xpath="@ID"/>
		</xs:key>
		<xs:key name="PK_LEGAMEPARTE">
			<xs:selector xpath="pt:Partecipanti/pt:LegameParte"/>
			<xs:field xpath="@ID"/>
		</xs:key>
		<xs:key name="PK_AVVOCATO">
			<xs:selector xpath="pt:Soggetti/pt:Avvocato"/>
			<xs:field xpath="at:codiceFiscale"/>
		</xs:key>
		<xs:unique name="AK_PARTECIPANTI">
			<xs:selector xpath="pt:Partecipanti/*"/>
			<xs:field xpath="at:codiceFiscale"/>
		</xs:unique>
		<xs:keyref name="FK_PARTE_AVVOCATO" refer="PK_PARTECIPANTI">
			<xs:selector xpath="pt:Soggetti/pt:Avvocato/at:parteRappresentata"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		<xs:keyref name="FK_PARTE_LEGAMEPARTE" refer="PK_PARTECIPANTI">
			<xs:selector xpath="pt:Partecipanti/pt:LegameParte/at:parteLegata"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="ModificheAnagrafica" type="AnagraficaCostituzione">
		<xs:annotation>
			<xs:documentation>Parti che si costituiscono o per cui viene modificata l'anagrafica</xs:documentation>
		</xs:annotation>
		<xs:key name="PK_PARTE_MODIFICHE">
			<xs:selector xpath="pt:Partecipanti/*"/>
			<xs:field xpath="@ID"/>
		</xs:key>
		<xs:unique name="AK_PARTE_MODIFICHE">
			<xs:selector xpath="pt:Partecipanti/*"/>
			<xs:field xpath="at:codiceFiscale"/>
		</xs:unique>
		<xs:key name="PK_AVVOCATO_MODIFICHE">
			<xs:selector xpath="pt:Soggetti/pt:Avvocato"/>
			<xs:field xpath="at:codiceFiscale"/>
		</xs:key>
		<xs:keyref name="FK_PARTE_AVVOCATO_MODIFICHE" refer="PK_PARTE_MODIFICHE">
			<xs:selector xpath="pt:Soggetti/pt:Avvocato/at:parteRappresentata"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="Partecipanti">
		<xs:annotation>
			<xs:documentation>Parti in causa</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Attore" type="at:Parte" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Attore/Ricorrente/Appellante coinvolto nella causa. Il primo elemento e' considerato il principale.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Convenuto" type="at:Parte" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Convenuto/Resistente/Appellato coinvolto nella causa. Il primo elemento e' considerato il principale</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Chiamato" type="at:Parte" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Chiamato in causa</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Soggetti">
		<xs:annotation>
			<xs:documentation>Difensori delle parti.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Avvocato" type="at:Avvocato" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Gli avvocati qui definiti referenziano i partecipanti al procedimento.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Domicilio" type="at:Indirizzo">
		<xs:annotation>
			<xs:documentation>Domicilio del legale depositante/rappresentante</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Provvedimento">
		<xs:sequence>
			<xs:element name="DatiFascicolo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Ufficio" type="xs:string"/>
						<xs:element name="Ruolo" type="bt:Ruolo"/>
						<xs:element name="Rito" type="bt:Rito" minOccurs="0"/>
						<xs:element name="Numero" type="xs:string"/>
						<xs:element name="Sub" type="xs:string" minOccurs="0"/>
						<xs:element name="SubSocio" type="xs:string" minOccurs="0"/>
						<xs:element name="NumeroCCI" type="xs:string" minOccurs="0"/>
						<xs:element name="Anno" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DatiProvvedimento" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Numero" type="xs:string"/>
						<xs:element name="Bis" type="xs:string" minOccurs="0"/>
						<xs:element name="Anno" type="xs:string"/>
						<xs:element name="Tipo">
							<xs:annotation>
								<xs:documentation>Tipologia del provvedimento</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Definitivo">
										<xs:annotation>
											<xs:documentation>Provvedimento definitivo</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="NonDefinitivo">
										<xs:annotation>
											<xs:documentation>Provvedimento non definitivo</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="GiudizioPendente">
										<xs:annotation>
											<xs:documentation>Provvedimento con giudizio pendente</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Natura">
							<xs:annotation>
								<xs:documentation>Natura del provvedimento</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="PR">
										<xs:annotation>
											<xs:documentation>Provvedimento</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="SE">
										<xs:annotation>
											<xs:documentation>Sentenza</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="AL">
										<xs:annotation>
											<xs:documentation>Altro</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="OR">
										<xs:annotation>
											<xs:documentation>Ordinanza</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="DC">
										<xs:annotation>
											<xs:documentation>Decreto</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="DE">
										<xs:annotation>
											<xs:documentation>Decisione</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="GP">
										<xs:annotation>
											<xs:documentation>Giudizio pendente</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DataDeposito" type="xs:date"/>
						<xs:element name="DataNotifica" type="xs:date" minOccurs="0"/>
						<xs:element name="DataEmissione" type="xs:date" minOccurs="0"/>
						<xs:element name="DataComunicato" type="xs:date" minOccurs="0"/>
						<xs:element name="Note" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
