SLpct_linux/SLpct/Schemi/Schema20241119/Atti/sigp/base_v2/eventi-professionista.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemi.processotelematico.giustizia.it/sigp/eventi/professionista" xmlns:bt="http://schemi.processotelematico.giustizia.it/sigp/tipi" xmlns:at="http://schemi.processotelematico.giustizia.it/sigp/tipi/anagrafiche/v2" xmlns:pt="http://schemi.processotelematico.giustizia.it/sigp/tipi/atti/v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://schemi.processotelematico.giustizia.it/sigp/tipi/v2" targetNamespace="http://schemi.processotelematico.giustizia.it/sigp/eventi/professionista" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/sigp/tipi/v2" schemaLocation="../base_v2/tipi-base.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/sigp/tipi/anagrafiche/v2" schemaLocation="../base_v2/tipi-anagrafiche.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/sigp/tipi/atti/v2" schemaLocation="../base_v2/tipi-atti.xsd"/>
	<xs:annotation>
		<xs:documentation>Eventi associabili ad atti del professionista</xs:documentation>
	</xs:annotation>
	<xs:element name="depositoPerizia" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Deposito della perizia</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="istanzaLiquidazioneCTU" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Istanza di liquidazione CTU</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="istanzaGenericaCTU" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Istanza generica</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AttoNonCodificato" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Atto Non Codificato</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="richiestaProrogaTerminiPerizia" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Deposito richiesta di proroga dei termini della perizia</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DepositoGiuramentoTelematico" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Deposito giuramento telematico</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
