eToken.hid/SLpct_linux/SLpct_linux/SLpct/Schemi/Schema20220630/Atti/cassazione/cassazione_v8/Parte-cassazione.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemi.processotelematico.giustizia.it/cassazione/Parte/v8" xmlns:tns="http://schemi.processotelematico.giustizia.it/cassazione/Parte/v8" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bt="http://schemi.processotelematico.giustizia.it/cassazione/tipi/v8" xmlns:pt="http://schemi.processotelematico.giustizia.it/cassazione/tipi/atti/v8" xmlns:evt="http://schemi.processotelematico.giustizia.it/cassazione/eventi/v8" targetNamespace="http://schemi.processotelematico.giustizia.it/cassazione/Parte/v8" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/tipi/v8" schemaLocation="../base_v8/tipi-base.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/tipi/atti/v8" schemaLocation="../base_v8/tipi-atti.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/eventi/v8" schemaLocation="../base_v8/eventi-cassazione.xsd"/>
	<xs:annotation>
		<xs:documentation>ATTI DI PARTE IN CORSO DI CAUSA</xs:documentation>
		<xs:documentation>Gli atti qui definiti si riferiscono a procedimenti in essere</xs:documentation>
	</xs:annotation>
	<xs:element name="Ricorso">
		<xs:annotation>
			<xs:documentation>Iscrizione ricorso</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element name="TipoRicorso" type="bt:TipoRicorso"/>
						<xs:sequence>
							<xs:element name="dataRichiestaNotifica" type="xs:date">
								<xs:annotation>
									<xs:documentation>Inserire la data della prima notifica del Ricorso</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="dataEffettivaNotifica" type="xs:date">
								<xs:annotation>
									<xs:documentation>Inserire la data del perfezionamento dell'ultima notifica</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="Provvedimento" type="pt:Provvedimento" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Riferimento all'allegato copia autentica o duplicato informatico del provvedimento impugnato</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="InizioGiudizioPrimoGrado" type="bt:InizioGiudizioPrimoGrado"/>
						<xs:element name="Materia" type="bt:MateriaRicorso"/>
						<xs:element name="valoreCausa" type="bt:Valuta" minOccurs="0"/>
						<xs:element name="speseGiustizia" type="pt:SpeseGiustizia"/>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element ref="bt:Motivi"/>
						<xs:element ref="pt:DocumentiECLI"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ControRicorso">
		<xs:annotation>
			<xs:documentation>Deposito contro-ricorso</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element name="TipoRicorso" type="bt:TipoRicorso"/>
						<xs:sequence>
							<xs:element name="dataRichiestaNotifica" type="xs:date">
								<xs:annotation>
									<xs:documentation>Inserire la data della prima notifica del Ricorso</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="dataEffettivaNotifica" type="xs:date">
								<xs:annotation>
									<xs:documentation>Inserire la data del perfezionamento dell'ultima notifica</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="Provvedimento" type="pt:Provvedimento" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Riferimento all'allegato copia autentica o duplicato informatico del provvedimento impugnato</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="InizioGiudizioPrimoGrado" type="bt:InizioGiudizioPrimoGrado" minOccurs="0"/>
						<xs:element name="Materia" type="bt:MateriaRicorso"/>
						<xs:element name="valoreCausa" type="bt:Valuta" minOccurs="0"/>
						<xs:element name="speseGiustizia" type="pt:SpeseGiustizia" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Dati contributo unificato</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element ref="bt:ControMotivi"/>
						<xs:element ref="pt:DocumentiECLI"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ControRicorsoIncidentale">
		<xs:annotation>
			<xs:documentation>Depsito del ricorso incidentale</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element name="TipoRicorso" type="bt:TipoRicorso"/>
						<xs:sequence>
							<xs:element name="dataRichiestaNotifica" type="xs:date">
								<xs:annotation>
									<xs:documentation>Inserire la data della prima notifica del Ricorso</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="dataEffettivaNotifica" type="xs:date">
								<xs:annotation>
									<xs:documentation>Inserire la data del perfezionamento dell'ultima notifica</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="Provvedimento" type="pt:Provvedimento" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Riferimento all'allegato copia autentica o duplicato informatico del provvedimento impugnato</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="InizioGiudizioPrimoGrado" type="bt:InizioGiudizioPrimoGrado" minOccurs="0"/>
						<xs:element name="Materia" type="bt:MateriaRicorso"/>
						<xs:element name="valoreCausa" type="bt:Valuta"/>
						<xs:element name="speseGiustizia" type="pt:SpeseGiustizia">
							<xs:annotation>
								<xs:documentation>Dati contributo unificato</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element ref="bt:Motivi"/>
						<xs:element ref="bt:ControMotivi"/>
						<xs:element ref="pt:DocumentiECLI"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttoGenerico">
		<xs:annotation>
			<xs:documentation>Istanza generica depositabile dall'avvocato</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento">
					<xs:sequence>
						<xs:element name="deposito" type="pt:AttiGenerici"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RinunciaRicorso">
		<xs:annotation>
			<xs:documentation>Rinuncia ricorso</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RinunciaProcura">
		<xs:annotation>
			<xs:documentation>Rinuncia procura</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Memoria378">
		<xs:annotation>
			<xs:documentation>Memoria 378</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Memoria380bis">
		<xs:annotation>
			<xs:documentation>Memoria 380 bis</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AccettazioneRinunciaRicorso">
		<xs:annotation>
			<xs:documentation>Accettazione Rinuncia Ricorso</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoExArt372">
		<xs:annotation>
			<xs:documentation>Deposito Ex Art 372</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AvvisoRicevutaNotificaRicorso">
		<xs:annotation>
			<xs:documentation>Avviso Ricevuta Notifica Ricorso</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AvvisoRicevutaNotificaControricorso">
		<xs:annotation>
			<xs:documentation>Avviso Ricevuta Notifica Controricorso</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RicorsoRinnovoNotifica">
		<xs:annotation>
			<xs:documentation>Ricorso Rinnovo Notifica</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaCessazioneMateriaContendere">
		<xs:annotation>
			<xs:documentation>Istanza Cessazione Materia Contendere</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaRimborsoSpeseGiustizia">
		<xs:annotation>
			<xs:documentation>Istanza Rimborso Spese Giustizia</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaAssegnazioneSezioniUnite">
		<xs:annotation>
			<xs:documentation>Istanza Assegnazione Sezioni Unite</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaPatrocinioASpeseDelloStato">
		<xs:annotation>
			<xs:documentation>Istanza Patrocinio A Spese Dello Stato</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaRiunioneRicorsi">
		<xs:annotation>
			<xs:documentation>Istanza Riunione Ricorsi</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaSollecitaFissazione">
		<xs:annotation>
			<xs:documentation>Istanza Sollecita Fissazione</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaSospensioneGiudizio">
		<xs:annotation>
			<xs:documentation>Istanza Sospensione Giudizio</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaRinnovoNotificaRicorso">
		<xs:annotation>
			<xs:documentation>Istanza Rinnovo Notifica Ricorso</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaTrasmissione369">
		<xs:annotation>
			<xs:documentation>Istanza Trasmissione 369</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaRinvioUdienza">
		<xs:annotation>
			<xs:documentation>Istanza Rinvio Udienza</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RicorsoPerSaltum">
		<xs:annotation>
			<xs:documentation>Ricorso Per Saltum</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentiCondonoFiscale">
		<xs:annotation>
			<xs:documentation>Documenti Condono Fiscale</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>	
	<xs:element name="SegnalazioneErroreMateriale">
		<xs:annotation>
			<xs:documentation>Segnalazione Errore Materiale</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Memoria380bis1">
		<xs:annotation>
			<xs:documentation>Memoria 380 bis 1</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Memoria380ter">
		<xs:annotation>
			<xs:documentation>Memoria 380 ter</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProvvedimentoImpugnato">
		<xs:annotation>
			<xs:documentation>Provvedimento Impugnato</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IntegrazioneAnagrafica">
		<xs:annotation>
			<xs:documentation>Atto utilizzato per il deposito di procura speciale costituzione, sostituzione/revoca e integraziondel contradittorio e variazione domicilio</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento">
					<xs:sequence>
						<xs:element ref="pt:ModificheAnagrafica">
							<xs:annotation>
								<xs:documentation>Parti che si costituiscono o per cui viene modificata l'anagrafica</xs:documentation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
						</xs:element>
						<xs:element name="deposito">
							<xs:annotation>
								<xs:documentation>Specifica la tipologia di atto oggetto di deposito</xs:documentation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:ProcuraSpecialeSostituzioneRevoca"/>
									<xs:element ref="evt:ProcuraSpecialeCostituzione"/>
									<xs:element ref="evt:IntegrazioneContradittorio"/>
									<xs:element ref="evt:VariazioneDomicilio"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IntegrazioneSpeseGiustizia">
		<xs:annotation>
			<xs:documentation>Integrazione del contributo unificato versato</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento">
					<xs:sequence>
						<xs:element name="speseGiustizia" type="pt:integrazioneSpeseGiustizia">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
