eToken.hid/SLpct_linux/SLpct_linux/SLpct/Schemi/Schema20251010/Atti/cassazione/base_v19/eventi-cassazione.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemi.processotelematico.giustizia.it/cassazione/eventi/v19" xmlns:bt="http://schemi.processotelematico.giustizia.it/cassazione/tipi/v19" xmlns:at="http://schemi.processotelematico.giustizia.it/cassazione/tipi/anagrafiche/v19" xmlns:pt="http://schemi.processotelematico.giustizia.it/cassazione/tipi/atti/v19" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemi.processotelematico.giustizia.it/cassazione/eventi/v19" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/tipi/v19" schemaLocation="./tipi-base.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/tipi/anagrafiche/v19" schemaLocation="./tipi-anagrafiche.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/tipi/atti/v19" schemaLocation="./tipi-atti.xsd"/>
	<xs:annotation>
		<xs:documentation>Eventi associabili ad atti di parte</xs:documentation>
	</xs:annotation>
	<xs:element name="ProcuraSpecialeCostituzione" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Procura Speciale Costituzione Avvocauto</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IntegrazioneContradittorio" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Integrazione del contradittorio</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ProcuraSpecialeSostituzioneRevoca" type="SostituzioneSoggetto">
		<xs:annotation>
			<xs:documentation>Procura Speciale in Sostituzione/Revoca</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VariazioneDomicilio" type="ModificaIndirizzo">
		<xs:annotation>
			<xs:documentation>Variazione domicilio</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ModificaPrivacy" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Modifica Privacy</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ModificaIndirizzo">
		<xs:annotation>
			<xs:documentation>Generico evento di modifica indirizzo domicilio</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="riferimentoSoggetto" type="SostituzioneSoggetto"/>
			<xs:element name="riferimentoIndirizzo" type="at:Indirizzo">
				<xs:annotation>
					<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SostituzioneSoggetto">
		<xs:annotation>
			<xs:documentation>Generico evento di sostituzione soggetto coinvolto nel procedimento</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="riferimento" type="at:RiferimentoSoggetto" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RinunciaRicorso" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Rinuncia al ricorso</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RinunciaProcura" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Rinuncia alla Procura</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Memoria378" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Memoria 378</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Memoria380bis" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Memoria 380 bis</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaOpposizione380bis" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Istanza Opposizione 380 bis</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Memoria380bis1" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Memoria 380 bis1</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Memoria380ter" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Memoria 380 ter</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AccettazioneRinunciaRicorso" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Accettazione Rinuncia Ricorso</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DepositoExArt372" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Deposito ex.art.372</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AvvisoRicevutaNotificaRicorso" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Avviso ricevuta notifica ricorso</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AvvisoRicevutaNotificaControricorso" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Avviso Ricevuta Notifica Controricorso</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RicorsoRinnovoNotifica" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Ricorso Rinnovo Notifica</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaCessazioneMateriaContendere" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Istanza Cessazione Materia Contendere</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaRimborsoSpeseGiustizia" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Istanza Rimborso Spese Giustizia</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DocumentiCondonoFiscale" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Documenti Condono fiscale</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SegnalazioneErroreMateriale" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Segnalazione Errore Materiale</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaAssegnazioneSezioniUnite" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Istanza di assegnazione sezioni unite</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaPatrocinioASpeseDelloStato" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Istanza Patrocinio A Spese Dello Stato</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaRiunioneRicorsi" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Istanza di riunione ricorsi</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaSollecitaFissazione" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Istanza sollecita fissazione</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaSospensioneGiudizio" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Istanza Sospensione Giudizio</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaRinnovoNotificaRicorso" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Istanza di rinnovo notifica ricorso</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaTrasmissione369" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Istanza Trasmissione 369</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaRinvioUdienza" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Istanza di rinvio udienza</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RicorsoPerSaltum" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Ricorso per saltum</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ProvvedimentoImpugnato" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Provvedimento impugnato</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NonCodificato" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Non codificato</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
