eToken.hid/SLpct_linux/SLpct_linux/SLpct/Schemi/Schema20230227/Atti/unep/base_v1/tipi-atti.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:at="http://schemi.processotelematico.giustizia.it/unep/tipi/anagrafiche" xmlns:bt="http://schemi.processotelematico.giustizia.it/unep/tipi" xmlns:all="http://schemi.processotelematico.giustizia.it/unep/tipi/allegati/v1" xmlns:pt="http://schemi.processotelematico.giustizia.it/unep/tipi/atti/v1" xmlns="http://schemi.processotelematico.giustizia.it/unep/tipi/atti/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemi.processotelematico.giustizia.it/unep/tipi/atti/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/unep/tipi" schemaLocation="../tipi-base.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/unep/tipi/anagrafiche" schemaLocation="../tipi-anagrafiche.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/unep/tipi/allegati/v1" schemaLocation="./tipi-allegati.xsd"/>
	<xs:complexType name="DatiFascicolo">
		<xs:sequence>
			<xs:element name="Procedimento" type="RiferimentoProcedimento"/>
			<xs:element name="DataUdienza" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TipoRichiesta">
		<xs:annotation>
			<xs:documentation>Per Richiesta notifica di parte</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="AttoCivile">
					<xs:annotation>
						<xs:documentation>Atto civile a pagamento</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AttoPenale">
					<xs:annotation>
						<xs:documentation>Atto penale a pagamento</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AttoEsenteLavoro" type="DatiFascicolo" nillable="true">
					<xs:annotation>
						<xs:documentation>Atto materia lavoro esente</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AttoEsenteGdp" type="DatiFascicolo" nillable="true">
					<xs:annotation>
						<xs:documentation>Giudice di pace esente</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="TipoRichiestaPign">
		<xs:annotation>
			<xs:documentation>Per richiesta Pignoramento</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="Esecuzione"/>
				<xs:element name="EsecuzioneEsenteLavoro" type="DatiFascicolo" nillable="true"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="RegistroTelematico">
		<xs:annotation>
			<xs:documentation>Attributi necessari ad individuare un registro telematico</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ufficio" type="xs:string" use="required"/>
		<xs:attribute name="ruolo" type="bt:Ruolo" use="required"/>
		<xs:attribute name="rito" type="bt:Rito" use="optional"/>
	</xs:attributeGroup>
	<xs:complexType name="NumeroProcedimento">
		<xs:annotation>
			<xs:documentation>Numero di un procedimento</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:nonNegativeInteger">
				<xs:attribute name="sub" type="xs:nonNegativeInteger" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RiferimentoProcedimento">
		<xs:annotation>
			<xs:documentation>Riferimento ad un procedimento all'interno del sistema di gestione dei registri.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="numero" type="NumeroProcedimento"/>
			<xs:element name="anno" type="xs:nonNegativeInteger"/>
		</xs:sequence>
		<xs:attributeGroup ref="RegistroTelematico"/>
	</xs:complexType>
	<xs:complexType name="BollettinoPostale">
		<xs:annotation>
			<xs:documentation>Estremi per l'identificazione di pagamento tramite bollettino postale</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="bt:Valuta">
				<xs:attribute name="agenzia" type="bt:CodiceUfficioPostale" use="required"/>
				<xs:attribute name="vcy" type="bt:CodiceVCY" use="required"/>
				<xs:attribute name="data" type="xs:date" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MarcheLottoMatica">
		<xs:annotation>
			<xs:documentation>Estremi per l'dentificazione di pagemento tramite marca da bollo LottoMatica</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Marca">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="bt:Valuta">
							<xs:attribute name="ID" type="xs:string" use="required"/>
							<xs:attribute name="data" type="xs:date" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ModelloF23">
		<xs:annotation>
			<xs:documentation>Estremi per l'identificazione/qualificazione del pagamento tramite modello F23</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="bt:Valuta">
				<xs:attribute name="data" type="xs:date" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RiferimentoDocumentale" mixed="true">
		<xs:annotation>
			<xs:documentation>Generico riferimento ad documentazione</xs:documentation>
			<xs:documentation>Il riferimento documentale e' un elemento che puo' essere fornito in forma testuale, se istanza del tipo base, oppure strutturato se istanza dei tipi derivati</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="AttoProcedimento" abstract="true">
		<xs:annotation>
			<xs:documentation>Generico atto in corso di causa.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="procedimento" type="RiferimentoProcedimento">
				<xs:annotation>
					<xs:documentation>Riferimento alla causa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="riferimento" type="RiferimentoDocumentale" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="IndiceBusta" type="all:IndiceBusta" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="RefId" type="xs:NMTOKEN"/>
		<xs:attribute name="urgente" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="AttoUnep" abstract="true">
		<xs:annotation>
			<xs:documentation>Generico atto per l'introduzione di una causa al ruolo.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="destinazione">
				<xs:annotation>
					<xs:documentation>Ufficio Giudiziario di destinazione, tra quelli dove e' attivo il PCT</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="RegistroTelematico"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="IndiceBusta" type="all:IndiceBusta" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="RefId" type="xs:NMTOKEN"/>
	</xs:complexType>
	<xs:complexType name="AttoIntroduttivo" abstract="true">
		<xs:annotation>
			<xs:documentation>Generico atto per l'introduzione di una causa al ruolo.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="destinazione">
				<xs:annotation>
					<xs:documentation>Ufficio Giudiziario di destinazione, tra quelli dove e' attivo il PCT</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="RegistroTelematico"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Oggetto" type="bt:CodiceOggetto">
				<xs:annotation>
					<xs:documentation>Codice oggetto della causa. L'oggetto deve essere attinente all'atto specifico.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValoreCausa" type="bt:Valuta" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valore della causa (ai sensi dell'art.14 del D.P.R. 30 Maggio
2002, n.115); 0 se indeterminabile o esente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContributoUnificato" type="ContributoUnificato" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valore del contributo unificato esteso comprensivo anche dei dati di pagamento. L'assenza dell'elemento specifica l'esenzione del pagamento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndiceBusta" type="all:IndiceBusta" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="RefId" type="xs:NMTOKEN"/>
	</xs:complexType>
	<xs:complexType name="AnagraficaProcedimento">
		<xs:annotation>
			<xs:documentation>Dati anagrafici relativi al procedimento da iscrivere</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Partecipanti">
				<xs:annotation>
					<xs:documentation>Parti in causa</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Parte" type="at:Parte" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Soggetto che introduce il procedimento. Ad esempio Attore/Ricorrente/Appellante nelle cause di contenzioso. Il primo elemento e' considerato il principale.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ControParte" type="at:Parte" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Parte opposta nel procedimento. Ad esempio Convenuto/Resistente/Appellato coinvolto nella causa di contenzioso. Il primo elemento e' considerato il principale</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Altro" type="at:Parte" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Altri partecipanti alla causa. Ad esempio chiamato in causa</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Soggetti"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContributoUnificato">
		<xs:annotation>
			<xs:documentation>Estremi versamento del contributo unificato</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="Importo">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="bt:Valuta">
							<xs:attribute name="debito" type="xs:boolean"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="EstremiPagamento" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element name="LottoMatica" type="MarcheLottoMatica">
							<xs:annotation>
								<xs:documentation>Marche da bollo utilizzate per il pagamento dell'importo</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BollettinoPostale" type="BollettinoPostale">
							<xs:annotation>
								<xs:documentation>Identificazione del bollettino postale con l'importo pagato del contributo unificato.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ModelloF23" type="ModelloF23">
							<xs:annotation>
								<xs:documentation>Identificazione del pagamento tramite modello F23</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="AnagraficaProcedimento" type="AnagraficaProcedimento">
		<xs:annotation>
			<xs:documentation>Anagrafica delle parti e loro difensori</xs:documentation>
		</xs:annotation>
		<xs:key name="PK_PARTECIPANTI">
			<xs:selector xpath="pt:Partecipanti/*"/>
			<xs:field xpath="@ID"/>
		</xs:key>
		<xs:key name="PK_PARTE">
			<xs:selector xpath="pt:Partecipanti/pt:Parte"/>
			<xs:field xpath="@ID"/>
		</xs:key>
		<xs:key name="PK_CONTROPARTE">
			<xs:selector xpath="pt:Partecipanti/pt:ControParte"/>
			<xs:field xpath="@ID"/>
		</xs:key>
		<xs:key name="PK_ALTRO">
			<xs:selector xpath="pt:Partecipanti/pt:Altro"/>
			<xs:field xpath="@ID"/>
		</xs:key>
		<xs:key name="PK_AVVOCATO">
			<xs:selector xpath="pt:Soggetti/pt:Avvocato"/>
			<xs:field xpath="at:codiceFiscale"/>
		</xs:key>
		<xs:unique name="AK_PARTECIPANTI">
			<xs:selector xpath="pt:Partecipanti/*"/>
			<xs:field xpath="at:codiceFiscale"/>
		</xs:unique>
		<xs:keyref name="FK_PARTE_AVVOCATO" refer="PK_PARTECIPANTI">
			<xs:selector xpath="pt:Soggetti/pt:Avvocato/at:parteRappresentata"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="Soggetti">
		<xs:annotation>
			<xs:documentation>Difensori delle parti.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Avvocato" type="at:Avvocato" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Avvocato coinvolto nel procedimento. Gli avvocati qui definiti referenziano i partecipanti al procedimento.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
