eToken.hid/SLpct_linux/SLpct_linux/SLpct/Schemi/Schema20220412/Atti/sici/siecic_v3/Cus-siecic-esecuzioni.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemi.processotelematico.giustizia.it/siecic/esecuzioni/custode/v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:evt="http://schemi.processotelematico.giustizia.it/siecic/eventi" xmlns:pt="http://schemi.processotelematico.giustizia.it/tipi/atti/v4" xmlns:st="http://schemi.processotelematico.giustizia.it/siecic/tipibase/v3" targetNamespace="http://schemi.processotelematico.giustizia.it/siecic/esecuzioni/custode/v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/tipi/atti/v4" schemaLocation="../base_v4/tipi-atti.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/siecic/eventi" schemaLocation="../eventi.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/siecic/tipibase/v3" schemaLocation="../base_v3/tipi-base-siecic.xsd"/>
	<xs:element name="DepositoSemplice">
		<xs:annotation>
			<xs:documentation>Deposito Atto semplice</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento">
					<xs:sequence>
						<xs:element name="deposito">
							<xs:annotation>
								<xs:documentation>Specifica la tipologia di atto oggetto di deposito</xs:documentation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:rendicontoCustode"/>
									<xs:element ref="evt:istanzaGenericaCustode"/>
									<xs:element ref="evt:istanzaLiquidazioneCustode"/>
									<xs:element ref="evt:attoNonCodificato"/>
									<xs:element ref="evt:istanzaAccessoForzoso"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MinutaOrdineLiberazioneImmobile">
		<xs:annotation>
			<xs:documentation>Minuta ordine liberazione immobile</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento">
					<xs:sequence>
						<xs:element name="beneImmobile" type="st:BeneImmobile" nillable="false">
							<xs:annotation>
								<xs:documentation>Specifica del bene immobile da liberare</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
