SLpct_linux/SLpct/Schemi/Schema20201207/Atti/cassazione/cassazione_v6/Parte-cassazione.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemi.processotelematico.giustizia.it/cassazione/Parte/v6" 
	xmlns:tns="http://schemi.processotelematico.giustizia.it/cassazione/Parte/v6" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:bt="http://schemi.processotelematico.giustizia.it/cassazione/tipi/v6" 
	xmlns:pt="http://schemi.processotelematico.giustizia.it/cassazione/tipi/atti/v6" 
	xmlns:evt="http://schemi.processotelematico.giustizia.it/cassazione/eventi/v6" 
	targetNamespace="http://schemi.processotelematico.giustizia.it/cassazione/Parte/v6" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/tipi/v6" schemaLocation="../base_v6/tipi-base.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/tipi/atti/v6" schemaLocation="../base_v6/tipi-atti.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/eventi/v6" schemaLocation="../base_v6/eventi-cassazione.xsd"/>
	<xs:annotation>
		<xs:documentation>ATTI DI PARTE IN CORSO DI CAUSA</xs:documentation>
		<xs:documentation>Gli atti qui definiti si riferiscono a procedimenti in essere</xs:documentation>
	</xs:annotation>
	<xs:element name="Ricorso">
		<xs:annotation>
			<xs:documentation>Iscrizione ricorso</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element name="TipoRicorso" type="bt:TipoRicorso"/>
						<xs:sequence>
							<xs:element name="dataRichiestaNotifica" type="xs:date">
								<xs:annotation>
									<xs:documentation>Inserire la data della prima notifica del Ricorso</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="dataEffettivaNotifica" type="xs:date">
								<xs:annotation>
									<xs:documentation>Inserire la data del perfezionamento dell'ultima notifica</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="Provvedimento" type="pt:Provvedimento" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Riferimento all'allegato copia autentica o duplicato informatico del provvedimento impugnato</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="InizioGiudizioPrimoGrado" type="bt:InizioGiudizioPrimoGrado"/>
						<xs:element name="Materia" type="bt:MateriaRicorso"/>
						<xs:element name="valoreCausa" type="bt:Valuta" minOccurs="0"/>
						<xs:element name="speseGiustizia" type="pt:SpeseGiustizia"/>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element ref="bt:Motivi"/>
						<xs:element ref="pt:DocumentiECLI"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ControRicorso">
		<xs:annotation>
			<xs:documentation>Deposito contro-ricorso</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element name="TipoRicorso" type="bt:TipoRicorso"/>
						<xs:sequence>
							<xs:element name="dataRichiestaNotifica" type="xs:date">
								<xs:annotation>
									<xs:documentation>Inserire la data della prima notifica del Ricorso</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="dataEffettivaNotifica" type="xs:date">
								<xs:annotation>
									<xs:documentation>Inserire la data del perfezionamento dell'ultima notifica</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="Provvedimento" type="pt:Provvedimento" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Riferimento all'allegato copia autentica o duplicato informatico del provvedimento impugnato</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="InizioGiudizioPrimoGrado" type="bt:InizioGiudizioPrimoGrado" minOccurs="0"/>
						<xs:element name="Materia" type="bt:MateriaRicorso"/>
						<xs:element name="valoreCausa" type="bt:Valuta" minOccurs="0"/>
						<xs:element name="speseGiustizia" type="pt:SpeseGiustizia" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Dati contributo unificato</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element ref="bt:ControMotivi"/>
						<xs:element ref="pt:DocumentiECLI"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ControRicorsoIncidentale">
		<xs:annotation>
			<xs:documentation>Depsito del ricorso incidentale</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element name="TipoRicorso" type="bt:TipoRicorso"/>
						<xs:sequence>
							<xs:element name="dataRichiestaNotifica" type="xs:date">
								<xs:annotation>
									<xs:documentation>Inserire la data della prima notifica del Ricorso</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="dataEffettivaNotifica" type="xs:date">
								<xs:annotation>
									<xs:documentation>Inserire la data del perfezionamento dell'ultima notifica</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="Provvedimento" type="pt:Provvedimento" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Riferimento all'allegato copia autentica o duplicato informatico del provvedimento impugnato</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="InizioGiudizioPrimoGrado" type="bt:InizioGiudizioPrimoGrado" minOccurs="0"/>
						<xs:element name="Materia" type="bt:MateriaRicorso"/>
						<xs:element name="valoreCausa" type="bt:Valuta"/>
						<xs:element name="speseGiustizia" type="pt:SpeseGiustizia">
							<xs:annotation>
								<xs:documentation>Dati contributo unificato</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="pt:AnagraficaProcedimento"/>
						<xs:element ref="bt:Motivi"/>
						<xs:element ref="bt:ControMotivi"/>
						<xs:element ref="pt:DocumentiECLI"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttoGenerico">
		<xs:annotation>
			<xs:documentation>Istanza generica depositabile dall'avvocato</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento">
					<xs:sequence>
						<xs:element name="deposito" type="pt:AttiGenerici"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RinunciaRicorso">
		<xs:annotation>
			<xs:documentation>Rinuncia ricorso</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RinunciaMandato">
		<xs:annotation>
			<xs:documentation>Rinuncia mandato</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Memoria378">
		<xs:annotation>
			<xs:documentation>Memoria 378</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Memoria380bis">
		<xs:annotation>
			<xs:documentation>Memoria 380 bis</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AccettazioneRinuncia">
		<xs:annotation>
			<xs:documentation>Accettazione rinuncia</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoExArt37cpc">
		<xs:annotation>
			<xs:documentation>Deposito Ex Art 37 cpc</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AvvisoRicevutaAvvenutaNotifica">
		<xs:annotation>
			<xs:documentation>Avviso Ricevuta Avvenuta Notifica</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaCorrezioneErroreMateriale">
		<xs:annotation>
			<xs:documentation>Istanza Correzione Errore Materiale</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaAssegnazioneSezioniUnite">
		<xs:annotation>
			<xs:documentation>Istanza Assegnazione Sezioni Unite</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaGratuitoPatrocinio">
		<xs:annotation>
			<xs:documentation>Istanza Gratuito Patrocinio</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaRiunioneRicorsi">
		<xs:annotation>
			<xs:documentation>Istanza Riunione Ricorsi</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaSollecitaFissazione">
		<xs:annotation>
			<xs:documentation>Istanza Sollecita Fissazione</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaSospensioneExArt398">
		<xs:annotation>
			<xs:documentation>Istanza Sospensione Ex Art 398</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NotificaControricorsoCcc">
		<xs:annotation>
			<xs:documentation>Notifica Controricorso Ccc</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RichiestaExArt135">
		<xs:annotation>
			<xs:documentation>Richiesta Ex Art 135</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaRinnovoNotifica">
		<xs:annotation>
			<xs:documentation>Istanza Rinnovo Notifica</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SostituzioneAttiExArt369">
		<xs:annotation>
			<xs:documentation>Sostituzione Atti Ex Art 369</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaRinvioUdienza">
		<xs:annotation>
			<xs:documentation>Istanza Rinvio Udienza</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RicorsoPerSaltum">
		<xs:annotation>
			<xs:documentation>Ricorso Per Saltum</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CondonoFiscale">
		<xs:annotation>
			<xs:documentation>Condono Fiscale</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Memoria380bis1">
		<xs:annotation>
			<xs:documentation>Memoria 380 bis 1</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProvvedimentoImpugnato">
		<xs:annotation>
			<xs:documentation>Provvedimento Impugnato</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IntegrazioneAnagrafica">
		<xs:annotation>
			<xs:documentation>Atto utilizzato per il deposito di procura speciale costituzione, sostituzione/revoca e integraziondel contradittorio e variazione domicilio</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento">
					<xs:sequence>
						<xs:element ref="pt:ModificheAnagrafica">
							<xs:annotation>
								<xs:documentation>Parti che si costituiscono o per cui viene modificata l'anagrafica</xs:documentation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
						</xs:element>
						<xs:element name="deposito">
							<xs:annotation>
								<xs:documentation>Specifica la tipologia di atto oggetto di deposito</xs:documentation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:ProcuraSpecialeSostituzioneRevoca"/>
									<xs:element ref="evt:ProcuraSpecialeCostituzione"/>
									<xs:element ref="evt:IntegrazioneContradittorio"/>
									<xs:element ref="evt:VariazioneDomicilio"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IntegrazioneSpeseGiustizia">
		<xs:annotation>
			<xs:documentation>Integrazione del contributo unificato versato</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento">
					<xs:sequence>
						<xs:element name="speseGiustizia" type="pt:integrazioneSpeseGiustizia">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
