eToken.hid/SLpct_linux/SLpct_linux/SLpct/Schemi/Schema20241119/Atti/sigp/base_v2/eventi-parte.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemi.processotelematico.giustizia.it/sigp/eventi/parte/v2" xmlns:bt="http://schemi.processotelematico.giustizia.it/sigp/tipi/v2" xmlns:at="http://schemi.processotelematico.giustizia.it/sigp/tipi/anagrafiche/v2" xmlns:pt="http://schemi.processotelematico.giustizia.it/sigp/tipi/atti/v2" targetNamespace="http://schemi.processotelematico.giustizia.it/sigp/eventi/parte/v2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/sigp/tipi/v2" schemaLocation="../base_v2/tipi-base.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/sigp/tipi/anagrafiche/v2" schemaLocation="../base_v2/tipi-anagrafiche.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/sigp/tipi/atti/v2" schemaLocation="../base_v2/tipi-atti.xsd"/>
	<xs:annotation>
		<xs:documentation>Eventi associabili ad atti di parte</xs:documentation>
	</xs:annotation>
	<xs:element name="IstanzaRichiestaEsecutorietaExArt647">
		<xs:annotation>
			<xs:documentation>Elemento da utilizzare per presentare una richiesta esecutorietà ex art. 647</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:IstanzaEvento">
					<xs:sequence minOccurs="0">
						<xs:element name="parte" type="at:RiferimentoParte" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaExArt186Bis" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Elemento da utilizzare per presentare una istanza ex art. 186 bis</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaExArt186Ter" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Elemento da utilizzare per presentare una istanza ex art. 186 Ter</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaExArt186Quater" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Elemento da utilizzare per presentare una istanza ex art. 186 Quarter</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaGenerica" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Elemento da utilizzare per presentare una istanza generica</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaRilascioAttestazionePassaggioInGiudicato" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Elemento da utilizzare per presentare una istanza di rilascio attestazione passaggio in giudicato</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaAttestazioneMancataOpposizioneADI" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Elemento da utilizzare per presentare una istanza di attestazione mancata opposizione a DI</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="RichiestaFissTermNoteSostUdie" type="pt:IstanzaEvento"/>
	<xs:element name="IstanzaFissazioneTermineNoteSostUdienza" type="pt:IstanzaEvento"/>
	<xs:element name="OpposizioneTermineNoteSostUdienza" type="pt:IstanzaEvento"/>
	<xs:element name="DepositoNoteSostitutiveUdienza" type="pt:IstanzaEvento"/>
	<xs:element name="DepositoIstanzaLiquidazionePatrocinio">
		<xs:annotation>
			<xs:documentation>Deposito dell'istanza di liquidazione patrocinio</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="avvocato" type="at:RiferimentoSoggetto">
					<xs:annotation>
						<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
					</xs:annotation>
				</xs:element>
				<xs:element name="cfParte" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoIstanzaAmmissionePatrocinio">
		<xs:annotation>
			<xs:documentation>Deposito dell'istanza di liquidazione patrocinio</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="avvocato" type="at:RiferimentoSoggetto">
					<xs:annotation>
						<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


</xs:schema>
