eToken.hid/SLpct_linux/SLpct_linux/SLpct/Schemi/Schema20210804/Atti/sici/siecic_v6/Parte-siecic-concorsuali.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by TEAM2 (RENEGADE) -->
<xs:schema xmlns="http://schemi.processotelematico.giustizia.it/siecic/concorsuali/parte/v6" xmlns:tns="http://schemi.processotelematico.giustizia.it/siecic/concorsuali/parte/v6" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pt="http://schemi.processotelematico.giustizia.it/tipi/atti/v5" xmlns:at="http://schemi.processotelematico.giustizia.it/tipi/anagrafiche/v3" xmlns:bt="http://schemi.processotelematico.giustizia.it/tipi" xmlns:evt="http://schemi.processotelematico.giustizia.it/siecic/eventi" xmlns:st="http://schemi.processotelematico.giustizia.it/siecic/tipibase/v3" targetNamespace="http://schemi.processotelematico.giustizia.it/siecic/concorsuali/parte/v6" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/tipi/atti/v5" schemaLocation="../base_v5/tipi-atti.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/tipi/anagrafiche/v3" schemaLocation="../base_v3/tipi-anagrafiche.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/siecic/tipibase/v3" schemaLocation="../base_v3/tipi-base-siecic.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/siecic/eventi" schemaLocation="../eventi.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/tipi" schemaLocation="../tipi-base.xsd"/>
	<xs:annotation>
		<xs:documentation>ATTI CONCORSUALI DI PARTE IN CORSO DI CAUSA</xs:documentation>
		<xs:documentation>Gli atti qui definiti si riferiscono a procedimenti in essere</xs:documentation>
	</xs:annotation>
	<xs:element name="AttoCostituzioneAvvocato">
		<xs:annotation>
			<xs:documentation>Atto di costituzione e sostituzione avvocato (parte già censita)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element ref="pt:ModificheAnagrafica">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
						</xs:element>
						<xs:element name="deposito">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:costituzioneAvvocato"/>
									<xs:element ref="evt:sostituzioneProcuratore"/>
									<xs:element ref="evt:depositoMandato"/>
									<xs:element ref="evt:sostituzioneAvvocato"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttoGenerico">
		<xs:annotation>
			<xs:documentation>Deposito atto generico</xs:documentation>
			<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element name="deposito">
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:depositoMemorie"/>
									<xs:element ref="evt:attoNonCodificato"/>
									<xs:element ref="evt:RinunciaDebitore"/>
									<xs:element ref="evt:depositoRimessioneTermini"/>
									<xs:element ref="evt:depositoNotaSpese"/>
									<xs:element ref="evt:depositoIstanzaLiquidazionePatrocinio"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RinunciaInsinuazione">
		<xs:annotation>
			<xs:documentation>Deposito Rinuncia al credito oggetto di insinuazione</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element name="Insinuazione" type="st:RiferimentoInsinuazione">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
						</xs:element>
						<xs:element ref="st:precisazioneCredito" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RinunciaRivendicazione">
		<xs:annotation>
			<xs:documentation>Deposito Rinuncia Rivendicazione</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element name="Insinuazione" type="st:RiferimentoInsinuazione">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
						</xs:element>
						<xs:element name="Beni" type="st:BeneMobile" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttoGenericoCCIPU">
		<xs:annotation>
			<xs:documentation>Deposito atto generico -  atto non depositabile prima dell'entrata in vigore della riforma della crisi d'impresa  </xs:documentation>
			<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element name="deposito">
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:propostaRevocaCommGiud"/>
									<xs:element ref="evt:attestazAperturaCCeDeposito"/>
									<xs:element ref="evt:depCertificazPubbAccordi"/>
									<xs:element ref="evt:costituzioneCreditore"/>
									<xs:element ref="evt:depNuovaRelAttestatore"/>
									<xs:element ref="evt:modificaPiano"/>
									<xs:element ref="evt:modificaProposta"/>
									<xs:element ref="evt:parereCredIstAutoFinanzPrededucibili"/>
									<xs:element ref="evt:parereCredIstAutoPagamCredPregressi"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttoRichiestaVisibilita">
		<xs:annotation>
			<xs:documentation>Atto di richiesta visibilita' del fascicolo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element name="Parte">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:RiferimentoSoggetto">
										<xs:attribute name="ID" type="xs:NMTOKEN" use="required"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Avvocato" type="at:Avvocato"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="PK_PARTE">
			<xs:selector xpath="tns:Parte"/>
			<xs:field xpath="@ID"/>
		</xs:key>
		<xs:keyref name="FK_PARTE_AVVOCATO_MODIFICHE" refer="PK_PARTE">
			<xs:selector xpath="tns:Avvocato/at:parteRappresentata"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="CostituzioneCreditoreCCIPU">
		<xs:annotation>
			<xs:documentation>Costituzione Creditore CCIPU -  atto non depositabile prima dell'entrata in vigore della riforma della crisi d'impresa </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element ref="pt:ModificheAnagrafica">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
						</xs:element>
						<xs:element name="deposito">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:costituzioneCreditore"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoAccordiModificatiCCIPU">
		<xs:annotation>
			<xs:documentation>Deposito accordi modificati CCIPU -  atto non depositabile prima dell'entrata in vigore della riforma della crisi d'impresa </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element ref="evt:depAccordiModificati"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoAccordiRistrutturazioneCCIPU">
		<xs:annotation>
			<xs:documentation>Deposito accordi di ristrutturazione CCIPU - atto non depositabile prima dell'entrata in vigore della riforma della crisi d'impresa </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element name="deposito">
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:depAccordiRistrutturazione"/>
									<xs:element ref="evt:depAccordiRistrAperturaFlusso"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoOpposizioneCCIPU">
		<xs:annotation>
			<xs:documentation>Deposito Opposizione CCIPU - atto non depositabile prima dell'entrata in vigore della riforma della crisi d'impresa </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element name="Parte" type="at:Parte" minOccurs="0"/>
						<xs:element name="Avvocato" type="at:Avvocato" minOccurs="0"/>
						<xs:element name="deposito">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:depositoOpposizione"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoPropostaPianoCCIPU">
		<xs:annotation>
			<xs:documentation>Deposito Proposta Piano Concordato Preventivo CCIPU - atto non depositabile prima dell'entrata in vigore della riforma della crisi d'impresa </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element ref="evt:depPropostaPianoConcPrev"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoRinunciaCCIPU">
		<xs:annotation>
			<xs:documentation>Deposito rinuncia generico CCIPU - atto non depositabile prima dell'entrata in vigore della riforma della crisi d'impresa </xs:documentation>
			<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element name="deposito">
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:rinunciaIntervento"/>
									<xs:element ref="evt:rinunciaMisuraCautelare"/>
									<xs:element ref="evt:rinunciaMisureProtettive"/>
									<xs:element ref="evt:rinunciaRicorso"/>
									<xs:element ref="evt:rinunciaOpposizione"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="InterventoTerzoCCIPU">
		<xs:annotation>
			<xs:documentation>Intervento del Terzo - atto non depositabile prima dell'entrata in vigore della riforma della crisi d'impresa </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element name="Parte" type="at:Parte"/>
						<xs:element name="Avvocato" type="at:Avvocato" minOccurs="0"/>
						<xs:element name="deposito">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:interventoTerzo"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaDichLiquidGiudizCCIPU">
		<xs:annotation>
			<xs:documentation>Istanza di revoca delle misure cautelari - atto non depositabile prima dell'entrata in vigore della riforma della crisi d'impresa </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element ref="evt:istDichLiqGiudiziale"/>
						<xs:choice>
							<xs:element name="creditore">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Parte" type="at:Parte"/>
										<xs:element name="Avvocato" type="at:Avvocato"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="pm"/>
						</xs:choice>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaGenericaCCIPU">
		<xs:annotation>
			<xs:documentation>Istanza Generica CCIPU - atto non depositabile prima dell'entrata in vigore della riforma della crisi d'impresa </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element name="Parte" type="at:Parte"/>
						<xs:element name="Avvocato" type="at:Avvocato" minOccurs="0"/>
						<xs:element name="deposito">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:istAmmAnticipataPSS"/>
									<xs:element ref="evt:istAnticipazioneUdienza"/>
									<xs:element ref="evt:istAutorizAttiStraordAmm"/>
									<xs:element ref="evt:istAutorizPagamCredPregressi"/>
									<xs:element ref="evt:istConfermaMisureProtettive"/>
									<xs:element ref="evt:istDifferimentoUdienza"/>
									<xs:element ref="evt:istRevocaMisureCautelari"/>
									<xs:element ref="evt:istPartecProcAffidamentoContrPubbl"/>
									<xs:element ref="evt:istProrogaMisureProtettive"/>
									<xs:element ref="evt:istRevocaMisureProtettive"/>
									<xs:element ref="evt:istSospensioneContrattoPendente"/>
									<xs:element ref="evt:istTermineIntegDomComposizCrisi"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MemoriaScioglContrPendCCIPU">
		<xs:annotation>
			<xs:documentation>Memoria della controparte su istanza di sciogliemento sospensione contratti pendenti - atto non depositabile prima dell'entrata in vigore della riforma della crisi d'impresa </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element name="Parte" type="at:Parte"/>
						<xs:element name="Avvocato" type="at:Avvocato" minOccurs="0"/>
						<xs:element name="deposito">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:memoriaIstScioglSospContrPend"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="OpposizioneCreditoreCCIPU">
		<xs:annotation>
			<xs:documentation>Opposizione Creditore - atto non depositabile prima dell'entrata in vigore della riforma della crisi d'impresa </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element name="Parte" type="at:Parte"/>
						<xs:element name="Avvocato" type="at:Avvocato" minOccurs="0"/>
						<xs:element name="deposito">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="evt:opposizioneCreditore"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PropostaConcorrenteCCIPU">
		<xs:annotation>
			<xs:documentation>Deposito Proposta Concorrente CCIPU -  atto non depositabile prima dell'entrata in vigore della riforma della crisi d'impresa </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element name="Parte" type="at:Parte"/>
						<xs:element name="Avvocato" type="at:Avvocato" minOccurs="0"/>
						<xs:element name="deposito">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:depPropostaConcorrente"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RelazioneAttestatoreCCIPU">
		<xs:annotation>
			<xs:documentation>Deposito Relazione Attestatore CCIPU -  atto non depositabile prima dell'entrata in vigore della riforma della crisi d'impresa </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element name="Parte" type="at:Parte"/>
						<xs:element name="Avvocato" type="at:Avvocato" minOccurs="0"/>
						<xs:element name="deposito">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:depRelazioneAttestatore"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RicorsoMisureCautelariCCIPU">
		<xs:annotation>
			<xs:documentation>Ricorso Misure Cautelari CCIPU</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element name="Parte" type="at:Parte"/>
						<xs:element name="Avvocato" type="at:Avvocato" minOccurs="0"/>
						<xs:element name="deposito">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:ricorsoMisureCautelari"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RicorsoMisureProtettiveCCIPU">
		<xs:annotation>
			<xs:documentation>Ricorso Misure Protettive CCIPU</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element name="Parte" type="at:Parte"/>
						<xs:element name="Avvocato" type="at:Avvocato" minOccurs="0"/>
						<xs:element name="deposito">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:ricorsoMisureProtettive"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RicorsoRegolamentoCCIPU">
		<xs:annotation>
			<xs:documentation>Deposito Ricorso Regolamento CCIPU -  atto non depositabile prima dell'entrata in vigore della riforma della crisi d'impresa </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimentoConc">
					<xs:sequence>
						<xs:element name="deposito">
							<xs:annotation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:regolamentoCompetenza"/>
									<xs:element ref="evt:regolamentoGiurisdizione"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
