eToken.hid/SLpct_linux/SLpct_linux/SLpct/Schemi/Schema20251010/Atti/sigp/sigp_v3/CorsoCausa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemi.processotelematico.giustizia.it/sigp/cartabia/corsocausa/v3" xmlns:tns="http://schemi.processotelematico.giustizia.it/sigp/cartabia/corsocausa/v3" xmlns:bt="http://schemi.processotelematico.giustizia.it/sigp/tipi/v2" xmlns:pt="http://schemi.processotelematico.giustizia.it/sigp/tipi/atti/v3" xmlns:evt="http://schemi.processotelematico.giustizia.it/sigp/eventi/parte/v2" xmlns:ns1="http://schemi.processotelematico.giustizia.it/sigp/tipi/anagrafiche/v2" xmlns:all="http://schemi.processotelematico.giustizia.it/sigp/tipi/allegati/v3" targetNamespace="http://schemi.processotelematico.giustizia.it/sigp/cartabia/corsocausa/v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/sigp/tipi/v2" schemaLocation="../base_v2/tipi-base.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/sigp/tipi/atti/v3" schemaLocation="../base_v3/tipi-atti.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/sigp/eventi/parte/v2" schemaLocation="../base_v2/eventi-parte.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/sigp/tipi/anagrafiche/v2" schemaLocation="../base_v2/tipi-anagrafiche.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/sigp/tipi/allegati/v3" schemaLocation="../base_v3/tipi-allegati.xsd"/>
	<xs:annotation>
		<xs:documentation>ATTI DI PARTE IN CORSO CAUSA</xs:documentation>
		<xs:documentation>Gli atti qui definiti si riferiscono a procedimenti
			in essere</xs:documentation>
	</xs:annotation>
	<xs:complexType name="TipiIstanzeMemorieGeneriche">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="evt:IstanzaRichiestaEsecutorietaExArt647"/>
			<xs:element ref="evt:IstanzaExArt186Bis"/>
			<xs:element ref="evt:IstanzaExArt186Ter"/>
			<xs:element ref="evt:IstanzaExArt186Quater"/>
			<xs:element ref="evt:IstanzaGenerica"/>
			<xs:element ref="evt:IstanzaFissazioneTermineNoteSostUdienza"/>
			<xs:element ref="evt:IstanzaRilascioAttestazionePassaggioInGiudicato"/>
			<xs:element ref="evt:IstanzaAttestazioneMancataOpposizioneADI"/>
			<xs:element ref="evt:OpposizioneTermineNoteSostUdienza"/>
			<xs:element ref="evt:DepositoNoteSostitutiveUdienza"/>
			<xs:element ref="evt:DepositoIstanzaLiquidazionePatrocinio"/>
			<xs:element ref="evt:DepositoIstanzaAmmissionePatrocinio"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="ProduzioneDocumentiRichiesti">
		<xs:annotation>
			<xs:documentation>Atto di deposito documentazione richiesta
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento">
					<xs:sequence>
						<xs:element ref="pt:domanda" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaGenerica">
		<xs:annotation>
			<xs:documentation>Istanza generica depositabile dall'avvocato</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento">
					<xs:sequence>
						<xs:element name="note" type="xs:string" minOccurs="0"/>
						<xs:element ref="pt:domanda" minOccurs="0"/>
						<xs:element name="deposito" type="TipiIstanzeMemorieGeneriche"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttoRichiestaVisibilita">
		<xs:annotation>
			<xs:documentation>Atto di richiesta visibilità del fascicolo
		</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento">
					<xs:sequence>
						<xs:element name="Parte">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="ns1:RiferimentoSoggetto">
					                                        <xs:attribute name="ID" type="xs:NMTOKEN" use="required"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Avvocato">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="ns1:Avvocato"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="PK_PARTE_VIS">
			<xs:selector xpath="tns:Parte" />
			<xs:field xpath="@ID" />
		</xs:key>
		<xs:keyref name="FK_PARTE_AVVOCATO_MODIFICHE" refer="PK_PARTE_VIS">
			<xs:selector xpath="tns:Avvocato/ns1:parteRappresentata" />
			<xs:field xpath="@ref" />
		</xs:keyref>
	</xs:element>
	<xs:element name="DepositoNoteConclusionali">
		<xs:annotation>
			<xs:documentation>Deposito note conclusionali</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento">
					<xs:sequence>
						<xs:element ref="pt:domanda" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoMemorie">
		<xs:annotation>
			<xs:documentation>Deposito memorie generiche</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento">
					<xs:sequence>
						<xs:element ref="pt:domanda" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CostituzioneSemplice">
		<xs:annotation>
			<xs:documentation>Atto di costituzione delle parti</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento">
					<xs:sequence>
						<xs:element ref="pt:ModificheAnagrafica"/>
						<xs:element ref="pt:domanda" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttoTermineNoteSostituzioneUdienza">
		<xs:annotation>
			<xs:documentation>Atto di Richiesta fissazione termine per note in sostituzione udienza o Opposizione al termine per note in sostituzione udienza</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento">
					<xs:sequence>
						<xs:element name="codiceFiscaleParte" type="xs:string" minOccurs="0"/>
						<xs:element name="dispositivo">
							<xs:complexType>
								<xs:choice>
									<xs:element ref="evt:IstanzaFissazioneTermineNoteSostUdienza"/>
									<xs:element ref="evt:OpposizioneTermineNoteSostUdienza"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositoNoteScritteSostUdie">
		<xs:annotation>
			<xs:documentation>Deposito note scritte in sostituzione udienza</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:AttoProcedimento">
					<xs:sequence>
						<xs:element name="codiceFiscaleParte" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
