eToken.hid/SLpct_linux/SLpct_linux/SLpct/Schemi/Schema20251010/Atti/sici/eventi-professionista.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemi.processotelematico.giustizia.it/eventi/professionista"
           xmlns:pt="http://schemi.processotelematico.giustizia.it/tipi/atti/v7"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemi.processotelematico.giustizia.it/eventi/professionista"
           elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.4">
    <xs:import namespace="http://schemi.processotelematico.giustizia.it/tipi/atti/v7"
               schemaLocation="base_v7/tipi-atti.xsd"/>
    <xs:annotation>
        <xs:documentation>Eventi associabili ad atti del professionista</xs:documentation>
    </xs:annotation>
    <xs:element name="depositoPerizia" type="pt:IstanzaEvento">
        <xs:annotation>
            <xs:documentation>Deposito della perizia</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="istanzaLiquidazioneCTU" type="pt:IstanzaEvento">
        <xs:annotation>
            <xs:documentation>Istanza di liquidazione CTU</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="istanzaGenericaCTU" type="pt:IstanzaEvento">
        <xs:annotation>
            <xs:documentation>Istanza generica</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AttoNonCodificato" type="pt:IstanzaEvento">
        <xs:annotation>
            <xs:documentation>Atto Non Codificato</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="integrazionePerizia" type="pt:IstanzaEvento">
        <xs:annotation>
            <xs:documentation>Deposito integrazione della perizia</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="richiestaProrogaTerminiPerizia" type="pt:IstanzaEvento">
        <xs:annotation>
            <xs:documentation>Deposito richiesta di proroga dei termini della perizia</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DepositoGiuramentoTelematico" type="pt:IstanzaEvento">
        <xs:annotation>
            <xs:documentation>Deposito del giuramento telematico</xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>
