SLpct_linux/SLpct/Schemi/Schema20201207/Atti/cassazione/base_v6/eventi-cassazione.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns="http://schemi.processotelematico.giustizia.it/cassazione/eventi/v6" 
    xmlns:bt="http://schemi.processotelematico.giustizia.it/cassazione/tipi/v6" 
    xmlns:at="http://schemi.processotelematico.giustizia.it/cassazione/tipi/anagrafiche/v6" 
    xmlns:pt="http://schemi.processotelematico.giustizia.it/cassazione/tipi/atti/v6" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://schemi.processotelematico.giustizia.it/cassazione/eventi/v6" 
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/tipi/v6" schemaLocation="./tipi-base.xsd"/>
    <xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/tipi/anagrafiche/v6" schemaLocation="./tipi-anagrafiche.xsd"/>
    <xs:import namespace="http://schemi.processotelematico.giustizia.it/cassazione/tipi/atti/v6" schemaLocation="./tipi-atti.xsd"/>
    <xs:annotation>
	<xs:documentation>Eventi associabili ad atti di parte</xs:documentation>
    </xs:annotation>
    <xs:element name="ProcuraSpecialeCostituzione" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Procura Speciale Costituzione Avvocauto</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="IntegrazioneContradittorio" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Integrazione del contradittorio</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="ProcuraSpecialeSostituzioneRevoca" type="SostituzioneSoggetto">
	<xs:annotation>
	    <xs:documentation>Procura Speciale in Sostituzione/Revoca</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="VariazioneDomicilio" type="ModificaIndirizzo">
	<xs:annotation>
	    <xs:documentation>Variazione domicilio</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:complexType name="ModificaIndirizzo">
	<xs:annotation>
	    <xs:documentation>Generico evento di modifica indirizzo domicilio</xs:documentation>
	</xs:annotation>
	<xs:sequence>
	    <xs:element name="riferimentoSoggetto" type="SostituzioneSoggetto"/>
	    <xs:element name="riferimentoIndirizzo" type="at:Indirizzo">
		<xs:annotation>
		    <xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
		</xs:annotation>
	    </xs:element>
	</xs:sequence>
    </xs:complexType>
    <xs:complexType name="SostituzioneSoggetto">
	<xs:annotation>
	    <xs:documentation>Generico evento di sostituzione soggetto coinvolto nel procedimento</xs:documentation>
	</xs:annotation>
	<xs:sequence>
	    <xs:element name="riferimento" type="at:RiferimentoSoggetto" minOccurs="0">
		<xs:annotation>
		    <xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
		</xs:annotation>
	    </xs:element>
	</xs:sequence>
    </xs:complexType>
    <xs:element name="RinunciaRicorso" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Rinuncia al ricorso</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="RinunciaMandato" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Rinuncia al mandato</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="Memoria378" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Memoria 378</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="Memoria380bis" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Memoria 380 bis</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="Memoria380bis1" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Memoria 380 bis1</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="AccettazioneRinuncia" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Accettazione rinuncia</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="DepositoExArt37cpc" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Deposito ex.art.372 cpc</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="AvvisoRicevutaAvvenutaNotifica" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Avviso ricevuta avvenuta notifica</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="CondonoFiscale" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Condono fiscale</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="IstanzaCorrezioneErroreMateriale" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Istanza di correzione errore materiale sentenza impugnata</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="IstanzaAssegnazioneSezioniUnite" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Istanza di assegnazione sezioni unite</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="IstanzaGratuitoPatrocinio" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Istanza di gratuito patrocinio</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="IstanzaRiunioneRicorsi" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Istanza di riunione ricorsi</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="IstanzaSollecitaFissazione" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Istanza sollecita fissazione</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="IstanzaSospensioneExArt398" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Istanza Sospensione Ex. Art. 398</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="NotificaControricorsoCcc" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Istanza notifica controricorso in c.c.c</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="RichiestaExArt135" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Richiesta Ex. Art. 135</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="IstanzaRinnovoNotifica" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Istanza di rinnovo notifica</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="SostituzioneAttiExArt369" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Sostituzione atti Ex. Art. 369</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="IstanzaExArt369" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Sostituzione atti Ex. Art. 369</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="IstanzaRinvioUdienza" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Istanza di rinvio udienza</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="RicorsoPerSaltum" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Ricorso per saltum</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="ProvvedimentoImpugnato" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Provvedimento impugnato</xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="NonCodificato" type="pt:IstanzaEvento">
	<xs:annotation>
	    <xs:documentation>Non codificato</xs:documentation>
	</xs:annotation>
    </xs:element>	
</xs:schema>
