eToken.hid/SLpct_linux/SLpct_linux/SLpct/Schemi/Schema20241119/Atti/unep/atti-unep.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemi.processotelematico.giustizia.it/unep/atti/parte/v1" xmlns:bu="http://schemi.processotelematico.giustizia.it/unep/tipiBaseUnep" xmlns:bt="http://schemi.processotelematico.giustizia.it/unep/tipi" xmlns:at="http://schemi.processotelematico.giustizia.it/unep/tipi/anagrafiche" xmlns:pt="http://schemi.processotelematico.giustizia.it/unep/tipi/atti/v1" xmlns:st="http://schemi.processotelematico.giustizia.it/unep/siecic/tipibase" xmlns:tn="http://schemi.processotelematico.giustizia.it/unep/atti/parte/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemi.processotelematico.giustizia.it/unep/atti/parte/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/unep/tipi/atti/v1" schemaLocation="./base_v1/tipi-atti.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/unep/tipi/anagrafiche" schemaLocation="./tipi-anagrafiche.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/unep/siecic/tipibase" schemaLocation="./tipi-base-siecic.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/unep/tipi" schemaLocation="./tipi-base.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/unep/tipiBaseUnep" schemaLocation="./tipi-base-unep.xsd"/>
	<xs:element name="PagamentoRichiesta">
		<xs:annotation>
			<xs:documentation>Pagamento della richiesta di notifica o della richiesta di pignoramento</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="false">
			<xs:complexContent mixed="false">
				<xs:extension base="pt:AttoUnep">
					<xs:sequence>
						<xs:element name="riferimentoRichiesta" type="xs:string">
							<xs:annotation>
								<xs:documentation>Riferimento della richiesta di notifica o pignoramento
                                </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RichiestaParte">
		<xs:annotation>
			<xs:documentation>Estremi per la richiesta di notifica dell’atto di parte</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="false">
			<xs:complexContent mixed="false">
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element name="DataRichiesta" type="xs:date"/>
						<xs:element name="DataScadenza" type="xs:date" minOccurs="0"/>
						<xs:element name="Istante">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Soggetto">
										<xs:sequence>
											<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Avvocato">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Soggetto">
										<xs:sequence>
											<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element ref="pt:TipoRichiesta"/>
						<xs:element name="Destinatario" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Soggetto">
										<xs:sequence>
											<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
										</xs:sequence>
										<xs:attribute name="progDestinatario" type="xs:positiveInteger" use="required"/>
										<xs:attribute name="tipoNotifica" type="bu:TipoNotifica" use="optional"/>
										<xs:attribute name="PubbAmm" type="xs:boolean" use="required"/>
										<xs:attribute name="PersonaFisica" type="xs:boolean" use="required"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element ref="bu:Protocollo" minOccurs="0"/>
						<xs:element name="NaturaAtto">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="codiceNatura" type="bu:NaturaAtti" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Urgenza">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="codiceUrgenza" type="bu:Urgenza" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RelataNotifica">
		<xs:annotation>
			<xs:documentation>Relata di notifica per avvocato telematico</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bu:Protocollo"/>
				<xs:element name="DatiConsegna" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Esito" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EsitoDes">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Positivo"/>
													<xs:enumeration value="Negativo"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="NotizieReperibilita" type="xs:string" use="optional"/>
									<xs:attribute name="MotiviMancataConsegna" type="bu:Motivi" use="optional"/>
									<xs:attribute name="RicercheEffettuate" type="bu:Ricerche" use="optional"/>
									<xs:attribute name="Note" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="UfficialeGiudiziario">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="at:Soggetto"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="LuogoConsegna" type="xs:string" minOccurs="0"/>
							<xs:element name="HashRelata" type="bu:HashType"/>
							<xs:sequence>
								<xs:element name="ArticoloApplicato">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute name="codiceArticolo" type="bu:Articolo" use="required"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="Annotazioni" type="xs:string" minOccurs="0"/>
								<xs:choice>
									<xs:element name="ConsegnaAMezzoPosta">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="NRacc149" type="xs:string"/>
												<xs:element name="NRaccAR149" type="xs:string" minOccurs="0"/>
											</xs:sequence>
											<xs:attribute name="dataSpedizione" type="xs:date" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="ConsegnaAMani">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="IrreperibilitaTemporanea" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="SpedizioneAvviso">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="NRacc139_140" type="xs:string"/>
																		<xs:element name="NRaccAR139_140" type="xs:string" minOccurs="0"/>
																		<xs:element name="NRacc660" type="xs:string" nillable="true" minOccurs="0"/>
																	</xs:sequence>
																	<xs:attribute name="data" type="xs:date" use="required"/>
																	<xs:attribute name="data660" type="xs:date" use="optional"/>
																</xs:complexType>
															</xs:element>
															<xs:element name="DepositoCasaComunale" nillable="true" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="UGAffissione">
																			<xs:complexType>
																				<xs:complexContent>
																					<xs:extension base="at:Soggetto"/>
																				</xs:complexContent>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="UGDeposito">
																			<xs:complexType>
																				<xs:complexContent>
																					<xs:extension base="at:Soggetto"/>
																				</xs:complexContent>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="dataAffissione" type="xs:date" use="required"/>
																	<xs:attribute name="dataDeposito" type="xs:date" use="required"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="dataNotifica" type="xs:date" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="ConsegnaAMezzoPEC">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="IndirizzarioConsultato">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="ReGIndE"/>
															<xs:enumeration value="Registro imprese"/>
															<xs:enumeration value="CECPAC"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="HashRicevutaAccettazione" type="bu:HashType"/>
												<xs:element name="HashRicevutaAvvenutaConsegna" type="bu:HashType"/>
												<xs:element name="IndirizzoPEC">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="[0-9a-zA-Z\.\+\-_]+@[0-9a-zA-Z\.\+\-_]+\.[a-zA-Z]{2,4}"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="dataAccettazione" type="xs:dateTime"/>
											<xs:attribute name="dataAvvenutaConsegna" type="xs:dateTime"/>
										</xs:complexType>
									</xs:element>
								</xs:choice>
							</xs:sequence>
							<xs:element name="Destinatario">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="cognome" type="xs:string"/>
										<xs:element name="nome" type="xs:string"/>
										<xs:element name="codiceFiscale" type="xs:string" minOccurs="0"/>
										<xs:element name="Indirizzo" type="at:Indirizzo"/>
									</xs:sequence>
									<xs:attribute name="progDestinatario" type="xs:positiveInteger" use="required"/>
									<xs:attribute name="tipoNotifica" type="bu:TipoNotifica" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Consegnatario" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Qualita">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="codiceQualita" type="bu:Qualita" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="Nominativo" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="HashAtto" type="bu:HashType"/>
				<xs:element name="DatiRichiesta">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DataRichiesta" type="xs:date"/>
							<xs:element name="DataScadenza" type="xs:date" minOccurs="0"/>
							<xs:element name="Istante">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="at:Soggetto">
											<xs:sequence>
												<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Avvocato">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="at:Soggetto">
											<xs:sequence>
												<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element ref="pt:TipoRichiesta"/>
							<xs:element name="NaturaAtto">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="codiceNatura" type="bu:NaturaAtti" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Urgenza">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="codiceUrgenza" type="bu:Urgenza" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RichiestaPignoramento">
		<xs:annotation>
			<xs:documentation>Estremi per la richiesta di pignoramento</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="false">
			<xs:complexContent mixed="false">
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element name="inoltroUG" type="bt:UfficioTelematico">
							<xs:annotation>
								<xs:documentation>Ufficio Giudiziario al quale inoltrare l'atto</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Procedente" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Parte">
										<xs:sequence>
											<xs:element name="Avvocato">
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="at:Soggetto"/>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="domicilio" type="at:Indirizzo" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="ImportoPrecetto" type="bt:Valuta"/>
						<xs:element name="Debitore" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Dati di qualifica dei debitori</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Parte">
										<xs:sequence>
											<xs:element name="Domicilio" type="at:Indirizzo"/>
											<xs:element name="formaSocietaria" type="st:FormaSocietaria" default="N/A" minOccurs="0"/>
											<xs:element name="dataNotificaPrecetto" type="xs:date"/>
											<xs:element name="benePignorato" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="dirittiReali" type="st:Diritto" maxOccurs="unbounded"/>
													</xs:sequence>
													<xs:attribute name="refBene" type="xs:NMTOKEN" use="required"/>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="tipoNotifica" type="bu:TipoNotifica" use="optional"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Beni">
							<xs:annotation>
								<xs:documentation>Lista dei beni mobili o immobili pignorati</xs:documentation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="st:beneImmobile" maxOccurs="unbounded"/>
									<xs:element ref="st:beneMobile" minOccurs="0" maxOccurs="unbounded"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
						<xs:element name="Comproprietario" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Parte">
										<xs:sequence>
											<xs:element name="benePignorato" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="dirittiReali" type="st:Diritto" maxOccurs="unbounded"/>
													</xs:sequence>
													<xs:attribute name="refBene" type="xs:NMTOKEN" use="required"/>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="TerzoPignorato" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Parte"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Titolo" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="st:Titolo">
										<xs:attribute name="ref" type="xs:NMTOKEN">
											<xs:annotation>
												<xs:documentation>Riferimento all'id della parte procedente
                                                </xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element ref="pt:TipoRichiestaPign"/>
						<xs:element name="NaturaAtto">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="codiceNatura" type="bu:NaturaAtti" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Urgenza">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="codiceUrgenza" type="bu:Urgenza" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>

		<xs:key name="PK_PROCEDENTE">
			<xs:selector xpath="tn:Procedente"/>
			<xs:field xpath="@ID"/>
		</xs:key>
		<xs:key name="PK_BENE_R">
			<xs:selector xpath="tn:Beni/*"/>
			<xs:field xpath="@ID"/>
		</xs:key>
		<xs:unique name="AK_DEBITORE">
			<xs:selector xpath="tn:Debitore"/>
			<xs:field xpath="at:codiceFiscale"/>
		</xs:unique>
		<xs:keyref name="FK_DEBITORE_BENE" refer="PK_BENE_R">
			<xs:selector xpath="tn:Debitore/tn:benePignorato"/>
			<xs:field xpath="@refBene"/>
		</xs:keyref>
		<xs:keyref name="FK_COMPROPRIETARIO_BENE" refer="PK_BENE_R">
			<xs:selector xpath="tn:Comproprietario/tn:benePignorato"/>
			<xs:field xpath="@refBene"/>
		</xs:keyref>
		<xs:keyref name="FK_TITOLO_PROCEDENTI" refer="tn:PK_PROCEDENTE">
			<xs:selector xpath="tn:Titolo"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		<xs:keyref name="FK_TITOLO_DEBITORE" refer="AK_DEBITORE">
			<xs:selector xpath="tn:Titolo/st:debitore"/>
			<xs:field xpath="@codiceFiscale"/>
		</xs:keyref>


	</xs:element>
	<xs:element name="VerbalePignoramento">
		<xs:annotation>
			<xs:documentation>Verbale di pignoramento ed iscrizione a ruolo</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="false">
			<xs:complexContent mixed="false">
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element name="UfficialeGiudiziario" type="at:Soggetto"/>
						<xs:element name="HashVerbale" type="bu:HashType"/>
						<xs:element ref="bu:Protocollo"/>
						<xs:element ref="pt:AnagraficaProcedimento">
							<xs:annotation>
								<xs:documentation>Anagrafica delle parti e loro difensori</xs:documentation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
						</xs:element>
						<xs:element name="Beni">
							<xs:annotation>
								<xs:documentation>Lista dei beni mobili o immobili pignorati</xs:documentation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="st:beneImmobile" maxOccurs="unbounded"/>
									<xs:element ref="st:beneMobile" minOccurs="0" maxOccurs="unbounded"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
						<xs:element name="EstensioneAnagrafica" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Informazioni aggiuntive sull'anagrafica delle parti</xs:documentation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DatiDebitore" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Dati di qualifica dei debitori</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="at:RiferimentoPartecipante">
													<xs:sequence>
														<xs:element name="formaSocietaria" type="st:FormaSocietaria" default="N/A" minOccurs="0"/>
														<xs:element name="dataNotificaPrecetto" type="xs:date"/>
														<xs:element name="dataNotificaPignoramento" type="xs:date"/>
														<xs:element name="benePignorato" minOccurs="0" maxOccurs="unbounded">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="dirittiReali" type="st:Diritto" maxOccurs="unbounded"/>
																</xs:sequence>
																<xs:attribute name="refBene" type="xs:NMTOKEN" use="required"/>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="DatiTerzo" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType mixed="false">
											<xs:complexContent mixed="false">
												<xs:extension base="at:RiferimentoPartecipante">
													<xs:sequence>
														<xs:element name="formaSocietaria" type="st:FormaSocietaria" default="N/A" minOccurs="0"/>
														<xs:element name="dataNotificaPignoramento" type="xs:date"/>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="DatiProcedente">
										<xs:annotation>
											<xs:documentation>Indicazione del creditori procedente</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="ref" type="xs:NMTOKEN" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Titolo" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="st:Titolo">
										<xs:attribute name="ref" type="xs:NMTOKEN">
											<xs:annotation>
												<xs:documentation>Riferimento all'id della parte procedente
                                                </xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RichiestaRicercaBeni">
		<xs:annotation>
			<xs:documentation>Estremi per la richiesta di ricerca beni</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="false">
			<xs:complexContent mixed="false">
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element name="DataAutorizzazione" type="xs:date"/>
						<xs:element name="NumeroAutorizzazione">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:whiteSpace value="collapse"/>
									<xs:maxLength value="8"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AnnoAutorizzazione">
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:minInclusive value="2000"/>
									<xs:maxInclusive value="2100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Rito">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="codiceRito" type="bu:Riti" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Autorita">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="codiceAutorita" type="bu:AutoritaRicercaBeni" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="inoltroUG" type="bt:UfficioTelematico">
							<xs:annotation>
								<xs:documentation>Ufficio Giudiziario al quale inoltrare l'atto</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Creditore">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Soggetto">
										<xs:sequence>
											<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Avvocato">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Soggetto">
										<xs:sequence>
											<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="dataNotificaPrecetto" type="xs:date"/>
						<xs:element name="ImportoPrecetto" type="bt:Valuta"/>
						<xs:element name="Debitore">
							<xs:annotation>
								<xs:documentation>Dati del debitore</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Parte">
										<xs:sequence>
											<xs:element name="Domicilio" type="at:Indirizzo"/>
											<xs:element name="formaSocietaria" type="st:FormaSocietaria" default="N/A" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="VerbaleRicercaBeni">
		<xs:annotation>
			<xs:documentation>Verbale di ricerca beni</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="false">
			<xs:complexContent mixed="false">
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element name="HashVerbale" type="bu:HashType"/>
						<xs:element ref="bu:Protocollo"/>
						<xs:element ref="pt:AnagraficaProcedimento">
							<xs:annotation>
								<xs:documentation>Anagrafica delle parti e loro difensori</xs:documentation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
						</xs:element>
						<xs:element name="Beni">
							<xs:annotation>
								<xs:documentation>Lista dei beni mobili o immobili trovati</xs:documentation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="st:beneImmobile" maxOccurs="unbounded"/>
									<xs:element ref="st:beneMobile" minOccurs="0" maxOccurs="unbounded"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
						<xs:element name="EstensioneAnagrafica" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Informazioni aggiuntive sull'anagrafica delle parti</xs:documentation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DatiDebitore" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Dati di qualifica dei debitori</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="at:RiferimentoPartecipante">
													<xs:sequence>
														<xs:element name="formaSocietaria" type="st:FormaSocietaria" default="N/A" minOccurs="0"/>
														<xs:element name="dataVerbaleRicercaBeni" type="xs:date"/>
														<xs:element name="UfficialeGiudiziario" type="at:Soggetto"/>
														<xs:element name="EsitiRicercaBene">
															<xs:complexType>
																<xs:simpleContent>
																	<xs:extension base="xs:string">
																		<xs:attribute name="codiceEsitoRicercaBene" type="bu:EsitoRicerca" use="required"/>
																	</xs:extension>
																</xs:simpleContent>
															</xs:complexType>
														</xs:element>
														<xs:element name="benePignorato" minOccurs="0" maxOccurs="unbounded">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="dirittiReali" type="st:Diritto" maxOccurs="unbounded"/>
																</xs:sequence>
																<xs:attribute name="refBene" type="xs:NMTOKEN" use="required"/>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="DatiProcedente">
										<xs:annotation>
											<xs:documentation>Indicazione del creditori procedente</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="ref" type="xs:NMTOKEN" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RichiestaIntegrazionePagamenti">
		<xs:annotation>
			<xs:documentation>Richiesta di integrazione pagamenti inviata alla parte</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="false">
			<xs:complexContent mixed="false">
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element name="DataRichiesta" type="xs:date"/>
						<xs:element name="DataRichiestaIntegrazione" type="xs:date"/>
						<xs:element name="ImportoDepositato" type="xs:float"/>
						<xs:element name="TotaleSpecifica" type="xs:float"/>
						<xs:element name="Integrazione" type="xs:float">
							<xs:annotation>
								<xs:documentation>Importo ulteriore costo per la restituzione dell'atto </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Istante">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Soggetto">
										<xs:sequence>
											<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Avvocato">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Soggetto">
										<xs:sequence>
											<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Destinatario" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Soggetto">
										<xs:sequence>
											<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
										</xs:sequence>
										<xs:attribute name="progDestinatario" type="xs:positiveInteger" use="required"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element ref="bu:Protocollo"/>
						<xs:element name="NaturaAtto">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="codiceNatura" type="bu:NaturaAtti" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Urgenza">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="codiceUrgenza" type="bu:Urgenza" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RichiestaRestituzioneSomme">
		<xs:annotation>
			<xs:documentation>Estremi per la Richiesta restituzione somme inviata dalla parte</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="false">
			<xs:complexContent mixed="false">
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element name="DataRichiesta" type="xs:date"/>
						<xs:element name="DataRichiestaIntegrazione" type="xs:date"/>
						<xs:element name="IBAN" type="xs:string"/>
						<xs:element name="Avvocato">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Soggetto">
										<xs:sequence>
											<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element ref="bu:Protocollo" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComunicazioneImportiResidui">
		<xs:annotation>
			<xs:documentation>Comunicazione importi residui inviata alla parte</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="false">
			<xs:complexContent mixed="false">
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element name="DataRichiesta" type="xs:date"/>
						<xs:element name="DataDisponibilita" type="xs:date"/>
						<xs:element name="ImportoDepositato" type="xs:float"/>
						<xs:element name="TotaleSpecifica" type="xs:float"/>
						<xs:element name="IBAN" type="xs:string"/>
						<xs:element name="ImportoResiduo" type="xs:float"/>
						<xs:element name="Istante">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Soggetto">
										<xs:sequence>
											<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Avvocato">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Soggetto">
										<xs:sequence>
											<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Destinatario" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Soggetto">
										<xs:sequence>
											<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
										</xs:sequence>
										<xs:attribute name="progDestinatario" type="xs:positiveInteger" use="required"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element ref="bu:Protocollo" minOccurs="0"/>
						<xs:element name="NaturaAtto">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="codiceNatura" type="bu:NaturaAtti" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Urgenza">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="codiceUrgenza" type="bu:Urgenza" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RichiestaParteDebito">
		<xs:annotation>
			<xs:documentation>Estremi per la richiesta di notifica dell’atto di parte a debito</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="false">
			<xs:complexContent mixed="false">
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element name="DataRichiesta" type="xs:date"/>
						<xs:element name="DataScadenza" type="xs:date" minOccurs="0"/>
						<xs:element name="EntitaConcedenteDebito">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DataConcessioneDebito" type="xs:date"/>
						<xs:element name="NumeroConcessioneDebito">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Istante">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Soggetto">
										<xs:sequence>
											<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Avvocato">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Soggetto">
										<xs:sequence>
											<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element ref="pt:TipoRichiesta"/>
						<xs:element name="Destinatario" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Soggetto">
										<xs:sequence>
											<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
										</xs:sequence>
										<xs:attribute name="progDestinatario" type="xs:positiveInteger" use="required"/>
										<xs:attribute name="tipoNotifica" type="bu:TipoNotifica" use="optional"/>
										<xs:attribute name="PubbAmm" type="xs:boolean" use="required"/>
										<xs:attribute name="PersonaFisica" type="xs:boolean" use="required"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element ref="bu:Protocollo" minOccurs="0"/>
						<xs:element name="NaturaAtto">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="codiceNatura" type="bu:NaturaAtti" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Urgenza">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="codiceUrgenza" type="bu:Urgenza" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RichiestaPignoramentoDebito">
		<xs:annotation>
			<xs:documentation>Estremi per la richiesta di pignoramento a debito</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="false">
			<xs:complexContent mixed="false">
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element name="inoltroUG" type="bt:UfficioTelematico">
							<xs:annotation>
								<xs:documentation>Ufficio Giudiziario al quale inoltrare l'atto</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Procedente" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Parte">
										<xs:sequence>
											<xs:element name="Avvocato">
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="at:Soggetto"/>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="domicilio" type="at:Indirizzo" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="EntitaConcedenteDebito">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DataConcessioneDebito" type="xs:date"/>
						<xs:element name="NumeroConcessioneDebito">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ImportoPrecetto" type="bt:Valuta"/>
						<xs:element name="Debitore" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Dati di qualifica dei debitori</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Parte">
										<xs:sequence>
											<xs:element name="Domicilio" type="at:Indirizzo"/>
											<xs:element name="formaSocietaria" type="st:FormaSocietaria" default="N/A" minOccurs="0"/>
											<xs:element name="dataNotificaPrecetto" type="xs:date"/>
											<xs:element name="benePignorato" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="dirittiReali" type="st:Diritto" maxOccurs="unbounded"/>
													</xs:sequence>
													<xs:attribute name="refBene" type="xs:NMTOKEN" use="required"/>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="tipoNotifica" type="bu:TipoNotifica" use="optional"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Beni">
							<xs:annotation>
								<xs:documentation>Lista dei beni mobili o immobili pignorati</xs:documentation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="st:beneImmobile" maxOccurs="unbounded"/>
									<xs:element ref="st:beneMobile" minOccurs="0" maxOccurs="unbounded"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
						<xs:element name="Comproprietario" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Parte">
										<xs:sequence>
											<xs:element name="benePignorato" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="dirittiReali" type="st:Diritto" maxOccurs="unbounded"/>
													</xs:sequence>
													<xs:attribute name="refBene" type="xs:NMTOKEN" use="required"/>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="TerzoPignorato" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="at:Parte"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Titolo" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="st:Titolo">
										<xs:attribute name="ref" type="xs:NMTOKEN">
											<xs:annotation>
												<xs:documentation>Riferimento all'id della parte procedente
                                                </xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element ref="pt:TipoRichiestaPign"/>
						<xs:element name="NaturaAtto">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="codiceNatura" type="bu:NaturaAtti" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Urgenza">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="codiceUrgenza" type="bu:Urgenza" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>

		<xs:key name="PK_PROCEDENTE_DEB">
			<xs:selector xpath="tn:Procedente"/>
			<xs:field xpath="@ID"/>
		</xs:key>
		<xs:key name="PK_BENE_R_DEB">
			<xs:selector xpath="tn:Beni/*"/>
			<xs:field xpath="@ID"/>
		</xs:key>
		<xs:unique name="AK_DEBITORE_DEB">
			<xs:selector xpath="tn:Debitore"/>
			<xs:field xpath="at:codiceFiscale"/>
		</xs:unique>
		<xs:keyref name="FK_DEBITORE_BENE_DEB" refer="PK_BENE_R_DEB">
			<xs:selector xpath="tn:Debitore/tn:benePignorato"/>
			<xs:field xpath="@refBene"/>
		</xs:keyref>
		<xs:keyref name="FK_COMPROPRIETARIO_BENE_DEB" refer="PK_BENE_R_DEB">
			<xs:selector xpath="tn:Comproprietario/tn:benePignorato"/>
			<xs:field xpath="@refBene"/>
		</xs:keyref>
		<xs:keyref name="FK_TITOLO_PROCEDENTI_DEB" refer="tn:PK_PROCEDENTE_DEB">
			<xs:selector xpath="tn:Titolo"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		<xs:keyref name="FK_TITOLO_DEBITORE_DEB" refer="AK_DEBITORE_DEB">
			<xs:selector xpath="tn:Titolo/st:debitore"/>
			<xs:field xpath="@codiceFiscale"/>
		</xs:keyref>

	</xs:element>
	<xs:element name="RelataNotificaDebito">
		<xs:annotation>
			<xs:documentation>Relata di notifica atto a debito per avvocato telematico</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EntitaConcedenteDebito" type="xs:string"/>
				<xs:element name="DataConcessioneDebito" type="xs:date"/>
				<xs:element name="NumeroConcessioneDebito" type="xs:string"/>
				<xs:element ref="bu:Protocollo"/>
				<xs:element name="DatiConsegna" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Esito" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EsitoDes">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Positivo"/>
													<xs:enumeration value="Negativo"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="NotizieReperibilita" type="xs:string" use="optional"/>
									<xs:attribute name="MotiviMancataConsegna" type="bu:Motivi" use="optional"/>
									<xs:attribute name="RicercheEffettuate" type="bu:Ricerche" use="optional"/>
									<xs:attribute name="Note" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="UfficialeGiudiziario">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="at:Soggetto"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="LuogoConsegna" type="xs:string" minOccurs="0"/>
							<xs:element name="HashRelata" type="bu:HashType"/>
							<xs:sequence>
								<xs:element name="ArticoloApplicato">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute name="codiceArticolo" type="bu:Articolo" use="required"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="Annotazioni" type="xs:string" minOccurs="0"/>
								<xs:choice>
									<xs:element name="ConsegnaAMezzoPosta">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="NRacc149" type="xs:string"/>
												<xs:element name="NRaccAR149" type="xs:string" minOccurs="0"/>
											</xs:sequence>
											<xs:attribute name="dataSpedizione" type="xs:date" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="ConsegnaAMani">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="IrreperibilitaTemporanea" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="SpedizioneAvviso">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="NRacc139_140" type="xs:string"/>
																		<xs:element name="NRaccAR139_140" type="xs:string" minOccurs="0"/>
																		<xs:element name="NRacc660" type="xs:string" nillable="true" minOccurs="0"/>
																	</xs:sequence>
																	<xs:attribute name="data" type="xs:date" use="required"/>
																	<xs:attribute name="data660" type="xs:date" use="optional"/>
																</xs:complexType>
															</xs:element>
															<xs:element name="DepositoCasaComunale" nillable="true" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="UGAffissione">
																			<xs:complexType>
																				<xs:complexContent>
																					<xs:extension base="at:Soggetto"/>
																				</xs:complexContent>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="UGDeposito">
																			<xs:complexType>
																				<xs:complexContent>
																					<xs:extension base="at:Soggetto"/>
																				</xs:complexContent>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="dataAffissione" type="xs:date" use="required"/>
																	<xs:attribute name="dataDeposito" type="xs:date" use="required"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="dataNotifica" type="xs:date" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="ConsegnaAMezzoPEC">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="IndirizzarioConsultato">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="ReGIndE"/>
															<xs:enumeration value="Registro imprese"/>
															<xs:enumeration value="CECPAC"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="HashRicevutaAccettazione" type="bu:HashType"/>
												<xs:element name="HashRicevutaAvvenutaConsegna" type="bu:HashType"/>
												<xs:element name="IndirizzoPEC">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="[0-9a-zA-Z\.\+\-_]+@[0-9a-zA-Z\.\+\-_]+\.[a-zA-Z]{2,4}"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="dataAccettazione" type="xs:dateTime"/>
											<xs:attribute name="dataAvvenutaConsegna" type="xs:dateTime"/>
										</xs:complexType>
									</xs:element>
								</xs:choice>
							</xs:sequence>
							<xs:element name="Destinatario">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="cognome" type="xs:string"/>
										<xs:element name="nome" type="xs:string"/>
										<xs:element name="codiceFiscale" type="xs:string" minOccurs="0"/>
										<xs:element name="Indirizzo" type="at:Indirizzo"/>
									</xs:sequence>
									<xs:attribute name="progDestinatario" type="xs:positiveInteger" use="required"/>
									<xs:attribute name="tipoNotifica" type="bu:TipoNotifica" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Consegnatario" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Qualita">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="codiceQualita" type="bu:Qualita" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="Nominativo" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="HashAtto" type="bu:HashType"/>
				<xs:element name="DatiRichiesta">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DataRichiesta" type="xs:date"/>
							<xs:element name="DataScadenza" type="xs:date" minOccurs="0"/>
							<xs:element name="Istante">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="at:Soggetto">
											<xs:sequence>
												<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Avvocato">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="at:Soggetto">
											<xs:sequence>
												<xs:element name="indirizzo" type="at:Indirizzo" minOccurs="0"/>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element ref="pt:TipoRichiesta"/>
							<xs:element name="NaturaAtto">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="codiceNatura" type="bu:NaturaAtti" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Urgenza">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="codiceUrgenza" type="bu:Urgenza" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VerbalePignoramentoDebito">
		<xs:annotation>
			<xs:documentation>Verbale di pignoramento atto a debito ed iscrizione a ruolo</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="false">
			<xs:complexContent mixed="false">
				<xs:extension base="pt:AttoIntroduttivo">
					<xs:sequence>
						<xs:element name="EntitaConcedenteDebito" type="xs:string"/>
						<xs:element name="DataConcessioneDebito" type="xs:date"/>
						<xs:element name="NumeroConcessioneDebito" type="xs:string"/>
						<xs:element name="UfficialeGiudiziario" type="at:Soggetto"/>
						<xs:element name="HashVerbale" type="bu:HashType"/>
						<xs:element ref="bu:Protocollo"/>
						<xs:element ref="pt:AnagraficaProcedimento">
							<xs:annotation>
								<xs:documentation>Anagrafica delle parti e loro difensori</xs:documentation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
						</xs:element>
						<xs:element name="Beni">
							<xs:annotation>
								<xs:documentation>Lista dei beni mobili o immobili pignorati</xs:documentation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element ref="st:beneImmobile" maxOccurs="unbounded"/>
									<xs:element ref="st:beneMobile" minOccurs="0" maxOccurs="unbounded"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
						<xs:element name="EstensioneAnagrafica" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Informazioni aggiuntive sull'anagrafica delle parti</xs:documentation>
								<xs:appinfo source="http://www.giustizia.it/gl/sgr"/>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DatiDebitore" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Dati di qualifica dei debitori</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="at:RiferimentoPartecipante">
													<xs:sequence>
														<xs:element name="formaSocietaria" type="st:FormaSocietaria" default="N/A" minOccurs="0"/>
														<xs:element name="dataNotificaPrecetto" type="xs:date"/>
														<xs:element name="dataNotificaPignoramento" type="xs:date"/>
														<xs:element name="benePignorato" minOccurs="0" maxOccurs="unbounded">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="dirittiReali" type="st:Diritto" maxOccurs="unbounded"/>
																</xs:sequence>
																<xs:attribute name="refBene" type="xs:NMTOKEN" use="required"/>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="DatiTerzo" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType mixed="false">
											<xs:complexContent mixed="false">
												<xs:extension base="at:RiferimentoPartecipante">
													<xs:sequence>
														<xs:element name="formaSocietaria" type="st:FormaSocietaria" default="N/A" minOccurs="0"/>
														<xs:element name="dataNotificaPignoramento" type="xs:date"/>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="DatiProcedente">
										<xs:annotation>
											<xs:documentation>Indicazione del creditori procedente</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="ref" type="xs:NMTOKEN" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Titolo" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="st:Titolo">
										<xs:attribute name="ref" type="xs:NMTOKEN">
											<xs:annotation>
												<xs:documentation>Riferimento all'id della parte procedente
                                                </xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
