eToken.hid/SLpct_linux/SLpct_linux/SLpct/Schemi/Schema20211015/Atti/sigp/base_v3/eventi-parte.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemi.processotelematico.giustizia.it/eventi/parte/v3" xmlns:bt="http://schemi.processotelematico.giustizia.it/tipi/v3" xmlns:at="http://schemi.processotelematico.giustizia.it/tipi/anagrafiche/v3" xmlns:pt="http://schemi.processotelematico.giustizia.it/tipi/atti/v3" targetNamespace="http://schemi.processotelematico.giustizia.it/eventi/parte/v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/tipi/v3" schemaLocation="../base_v3/tipi-base.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/tipi/anagrafiche/v3" schemaLocation="../base_v3/tipi-anagrafiche.xsd"/>
	<xs:import namespace="http://schemi.processotelematico.giustizia.it/tipi/atti/v3" schemaLocation="../base_v3/tipi-atti.xsd"/>
	<xs:annotation>
		<xs:documentation>Eventi associabili ad atti di parte</xs:documentation>
	</xs:annotation>
	<!--xs:element name="IstanzaRichiestaEsecutorietaExArt647" type="pt:IstanzaEvento">
        <xs:annotation>
            <xs:documentation>Elemento da utilizzare per presentare una richiesta esecutorietà ex art. 647</xs:documentation>
        </xs:annotation>
    </xs:element-->
	<xs:element name="IstanzaRichiestaEsecutorietaExArt647">
		<xs:annotation>
			<xs:documentation>Elemento da utilizzare per presentare una richiesta esecutorietà ex art. 647</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="pt:IstanzaEvento">
					<xs:sequence minOccurs="0">
						<xs:element name="parte" type="at:RiferimentoParte" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IstanzaExArt186Bis" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Elemento da utilizzare per presentare una istanza ex art. 186 bis</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaExArt186Ter" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Elemento da utilizzare per presentare una istanza ex art. 186 Ter</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaExArt186Quater" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Elemento da utilizzare per presentare una istanza ex art. 186 Quarter</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IstanzaGenerica" type="pt:IstanzaEvento">
		<xs:annotation>
			<xs:documentation>Elemento da utilizzare per presentare una istanza generica</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
